Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-339: * change the loop a bit
  frontend/src/helpers/video/check-is-playlist-full.helper.ts
  frontend/src/pages/studio/stream/stream/stream.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

* fix channel tabs size on small screen
  frontend/src/pages/channel-page/components/channel-header/channel-tabs/channel-tab/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-342: * stats seed
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-243: * fix disabled chat styles
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-243: * fix videos seed data
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-344: * fix video seeds
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-344: * fix get user history
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/backend346: * changed expiration date of access token
  backend/core/src/configuration/config.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
