Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-277: - preview erasing event after clicking on go live button, - go live, end stream button, instead moved stream status control to socket event
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream/stream.tsx
  package.json
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend-326: * fixed bytton styles and modal preferences elements
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fixed modal preferences and history page
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/helpers/date/is-date-same-by-day-mounth-year/is-date-same-by-day-mounth-year.ts
  frontend/src/pages/history-page/common/history-list/history-list.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-334: * fix google loader alignment
  frontend/src/components/auth/components/common/social-buttons/google-button/google-button.tsx
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/common/loader/loader.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend-336: * fixed align chat and preferences modal
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/preferences-modal/preferences-modal.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/pages/history-page/common/history-list/history-list.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-317: * fix default user avatar
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: + get channel stats
  backend/core/src/core/channel-stats/application/channel-stats-service.ts
  backend/core/src/core/channel-stats/port/channel-stats-repository.ts
  backend/core/src/primary-adapters/rest/channel-stats/channel-stats-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-stats/channel-stats-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/stats/get-date-trunc-format-by-date-from.helper.ts
  backend/core/src/shared/helpers/stats/stats.ts
  backend/core/src/shared/types/channel/channel-stats-device-chart-data.type.ts
  backend/core/src/shared/types/channel/channel-stats-language-chart-data.type.ts
  backend/core/src/shared/types/channel/channel-stats-subs-chart-data.type.ts
  backend/core/src/shared/types/channel/channel-stats-views-chart-data.type.ts
  backend/core/src/shared/types/channel/channel-stats-watch-time-chart-data.type.ts
  backend/core/src/shared/types/channel/channel.ts
  shared/src/common/enums/api/channel-stats-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/stats/date-trunc-format.enum.ts
  shared/src/common/enums/stats/stats.ts
  shared/src/common/types/channel/channel-stats/channel-stats-chart-data-response-dto.type.ts
  shared/src/common/types/channel/channel-stats/channel-stats-device-chart-data-response.type.ts
  shared/src/common/types/channel/channel-stats/channel-stats-language-chart-data-response.type.ts
  shared/src/common/types/channel/channel-stats/channel-stats-subs-chart-data-response.type.ts
  shared/src/common/types/channel/channel-stats/channel-stats-views-chart-data-response.type.ts
  shared/src/common/types/channel/channel-stats/channel-stats-watch-time-chart-data-response.type.ts
  shared/src/common/types/channel/channel-stats/channel-stats.ts
  shared/src/common/types/channel/channel-stats/get-channel-stats-request-dto.type.ts
  shared/src/common/types/components/components.ts
  shared/src/common/types/components/line-chart/line-chart-data-period.type.ts
  shared/src/common/types/components/line-chart/line-chart-data.type.ts
  shared/src/common/types/components/line-chart/line-chart.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: * enums
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/stats/stats-period.enum.ts
  frontend/src/common/enums/stats/stats.ts
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/stats/stats-data.type.ts
  frontend/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: * fix getting video stats
  frontend/src/components/common/video-player/video-player-controls/progress-bar/progress-bar.tsx
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: + analytics tabs
  frontend/src/components/app/app.tsx
  frontend/src/pages/studio/analytics/analytics.tsx
  frontend/src/pages/studio/analytics/area-chart/custom-area-chart.tsx
  frontend/src/pages/studio/analytics/chart-helpers.ts
  frontend/src/pages/studio/analytics/index.ts
  frontend/src/pages/studio/analytics/line-chart/mock-helper/mock-helper.ts
  frontend/src/pages/studio/analytics/line-chart/tooltip/custom-tooltip.tsx
  frontend/src/pages/studio/analytics/line-chart/types/types.ts
  frontend/src/pages/studio/analytics/periods/config.ts
  frontend/src/pages/studio/analytics/periods/helpers.ts
  frontend/src/pages/studio/analytics/periods/periods.tsx
  frontend/src/pages/studio/analytics/simple-bar/custom-simple-bar.tsx
  frontend/src/pages/studio/analytics/statistics-block/statistics-block.tsx
  frontend/src/pages/studio/analytics/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/overview/overview-tab.tsx
  frontend/src/pages/studio/analytics/tabs/tab-button/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-with-chat-styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab.ts
  frontend/src/pages/studio/analytics/tabs/views/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/views/views-tab.tsx
  frontend/src/pages/studio/analytics/tabs/watch-time/helpers.ts
  frontend/src/pages/studio/analytics/tabs/watch-time/watch-time-tab.tsx
  frontend/src/services/stats-api/stats-api.service.ts
  frontend/src/store/stats/actions.ts
  frontend/src/store/stats/common.ts
  frontend/src/store/stats/helpers.ts
  frontend/src/store/stats/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-265: * fix video page stats
  frontend/src/pages/video/config.ts
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend: * fixed sizes categories card on mobile
  frontend/src/components/common/preferences-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

common: * video and channel seeds
  backend/core/prisma/seed-data/channels.ts
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: + stat overview route
  backend/core/src/core/channel-stats/application/channel-stats-service.ts
  backend/core/src/core/channel-stats/port/channel-stats-repository.ts
  backend/core/src/primary-adapters/rest/channel-stats/channel-stats-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-stats/channel-stats-repository-adapter.ts
  shared/src/common/types/channel/channel-stats/channel-stats-overview-response-dto.type.ts
  shared/src/common/types/channel/channel-stats/channel-stats.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: + overview tab page
  frontend/src/common/enums/stats/stats-period.enum.ts
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/types.ts
  frontend/src/pages/studio/analytics/area-chart/custom-area-chart.tsx
  frontend/src/pages/studio/analytics/index.ts
  frontend/src/pages/studio/analytics/line-chart/custom-line-chart.tsx
  frontend/src/pages/studio/analytics/periods/config.ts
  frontend/src/pages/studio/analytics/periods/helpers.ts
  frontend/src/pages/studio/analytics/periods/periods.tsx
  frontend/src/pages/studio/analytics/periods/styles.module.scss
  frontend/src/pages/studio/analytics/pie-chart/custom-pie-chart.tsx
  frontend/src/pages/studio/analytics/simple-bar/custom-simple-bar.tsx
  frontend/src/pages/studio/analytics/tabs/overview/config.ts
  frontend/src/pages/studio/analytics/tabs/overview/helpers.ts
  frontend/src/pages/studio/analytics/tabs/overview/overview-tab.tsx
  frontend/src/pages/studio/analytics/tabs/overview/styles.module.scss
  frontend/src/services/stats-api/stats-api.service.ts
  frontend/src/store/stats/actions.ts
  frontend/src/store/stats/common.ts
  frontend/src/store/stats/helpers.ts
  frontend/src/store/stats/reducer.ts
  shared/src/common/types/components/components.ts
  shared/src/common/types/components/pie-chart/pie-chart-data.type.ts
  shared/src/common/types/components/pie-chart/pie-chart.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-256: * fix tests video repository
  backend/core/tests/integration/core/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: + overview stats to channel page
  backend/core/src/primary-adapters/rest/channel-stats/channel-stats-controller.ts
  frontend/src/pages/channel-page/channel-page.tsx
  frontend/src/pages/channel-page/components/about-section/about-section.tsx
  frontend/src/pages/studio/analytics/tabs/overview/config.ts
  frontend/src/pages/studio/analytics/tabs/overview/helpers.ts
  frontend/src/pages/studio/analytics/tabs/overview/overview-tab.tsx
  frontend/src/store/stats/actions.ts
  frontend/src/store/stats/common.ts
  frontend/src/store/stats/reducer.ts
  shared/src/common/types/channel/channel-stats/channel-stats-overview-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: * fix channel avatar
  frontend/src/components/sidebar/channel/channel.module.scss
  frontend/src/components/sidebar/channel/index.tsx
  frontend/src/helpers/user/abbreviature-user-name.ts
  frontend/src/pages/channel-page/components/channel-header/channel-info/channel-info.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common: * mapped segments folders for each video - removed video comments seeds
  backend/core/prisma/seed-data/videos.ts
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common: * removed LIVE flag from one video
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: * fix get watchTime
  backend/core/src/secondary-adapters/postgres/channel-stats/channel-stats-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: * nullable chart data
  frontend/src/pages/studio/analytics/area-chart/custom-area-chart.tsx
  frontend/src/pages/studio/analytics/chart-helpers.ts
  frontend/src/pages/studio/analytics/line-chart/custom-line-chart.tsx
  frontend/src/pages/studio/analytics/pie-chart/custom-pie-chart.tsx
  frontend/src/pages/studio/analytics/simple-bar/custom-simple-bar.tsx
  frontend/src/pages/studio/analytics/tabs/overview/config.ts
  frontend/src/pages/studio/analytics/tabs/overview/helpers.ts
  frontend/src/pages/studio/analytics/tabs/overview/overview-tab.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend-337: + added ability go back video page
  frontend/src/components/auth/components/common/social-buttons/google-button/google-authorization.tsx
  frontend/src/components/auth/sign-in-page.tsx
  frontend/src/components/common/sign-in-modal/sign-in-modal.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: * tabs styles
  frontend/src/pages/studio/analytics/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/followers/followers-tab.tsx
  frontend/src/pages/studio/analytics/tabs/overview/overview-tab.tsx
  frontend/src/pages/studio/analytics/tabs/overview/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-with-chart-styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-with-chat-styles.module.scss
  frontend/src/pages/studio/analytics/tabs/views/views-tab.tsx
  frontend/src/pages/studio/analytics/tabs/watch-time/watch-time-tab.tsx
  frontend/src/pages/studio/channel/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-265: * hide stream analytics
  frontend/src/components/app/app.tsx
  frontend/src/pages/studio/stream/stream/tabs/tabs.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend-337: * fixed redirect to video page for comments
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-324: + fix modal on different browsers
  frontend/src/components/common/video-player/video-player-controls/control-button/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player-controls/video-time/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/styles.module.scss
  frontend/src/hooks/use-outside-click/use-outside-click-handler.hook.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-324: - unnesessary liveMaxLatencyDuration that fas-forwarded video whenever it was behind the end
  frontend/src/components/common/video-player/video-player-controls/progress-bar/progress-bar.tsx
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: + make auth a nested reducer
  frontend/src/store/auth/reducer.ts
  frontend/src/store/store.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-338: * fix socket clients
  backend/push/src/helpers/get-socket-id-by-user-id.helper.ts
  backend/push/src/services/socket/socket-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-338: + disabling chat
  backend/push/src/services/socket/socket-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-339: * potential fix
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-339: * back to previos version
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-340: + missed service method
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common: + vod type of playlist to ended stream * fixed video banner seeds
  backend/core/prisma/seed-data/videos.ts
  backend/video-transcoding-server/src/helpers/add-vod-to-playlists.ts
  backend/video-transcoding-server/src/services/fs/fs-service.ts
  backend/video-transcoding-server/src/services/stream/streaming-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend: + seeds for category banners
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common: * fixed mismatch in video duration
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-339: + check is player ready
  frontend/src/helpers/common/common.ts
  frontend/src/helpers/common/timeout.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/video/check-is-playlist-full.helper.ts
  frontend/src/helpers/video/video.ts
  frontend/src/pages/studio/stream/stream/stream.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

fix channel tabs style
  frontend/src/pages/channel-page/components/channel-header/channel-tabs/channel-tab/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
