Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

frontend-42: + color varible
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

common-94: + complete backend auth flow
  backend/core/src/core/account-verification/application/account-verification-service.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/enums/messages/success-messages.ts
  backend/core/src/shared/types/user/user.ts
  backend/core/src/validation-schemas/user/user.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/common/types/user/account-verification-confirm-request-dto.ts
  shared/src/common/types/user/account-verification-confirm-response-dto.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/account-verification-confirm-validation-schema.ts
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-69: * fixed some styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/common/continue-with-paragraph/styles.module.scss
  frontend/src/components/common/video-card/styles.module.scss
  frontend/src/components/not-found-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-86: * swagger getUsers
  backend/core/src/primary-adapters/rest/user/user-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * auth controller
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * form styles
  frontend/src/components/auth/components/form-controls.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-86: * app component
  frontend/src/components/app/app.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

common-94: + initial account verification page
  backend/core/src/shared/enums/messages/success-messages.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/auth/components/auth-container/auth-container.tsx
  frontend/src/pages/account-verification-page/account-verification-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: * header search input
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * sidebar media queries
  frontend/src/components/common/sidebar/sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-78: * header styles
  frontend/src/assets/css/config.scss
  frontend/src/components/app/app.module.scss
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-76: * loader xs height
  frontend/src/components/common/loader/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-76: + loader enum
  frontend/src/common/enums/components/index.ts
  frontend/src/common/enums/components/loader-size.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/common/loader/loader.tsx
  frontend/src/components/common/loader/styles.module.scss
  frontend/src/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-76: * auth submit btn
  frontend/src/components/auth/components/common/auth-submit-btn/auth-submit-btn.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: * streaming status
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/stream/stream.ts
  shared/src/common/enums/stream/streaming-status.enum.ts
  shared/src/common/types/components/video-card/video-card.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: * search page styles
  frontend/src/components/search/components/filter-bar/styles.module.scss
  frontend/src/components/search/components/filter-sidebar/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-78: * video tag component
  frontend/src/components/search/components/common/video-tag/styles.module.scss
  frontend/src/components/search/components/common/video-tag/video-tag.tsx
  frontend/src/components/search/config/config.ts
  frontend/src/components/search/config/video-tag.config.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-50: * fix package-lock.json build error
  frontend/package.json
  package-lock.json
Due: npm run lint:fs, prettier --write

common-94: + finalize the flow on frontend & * fix some bugs on backend
  backend/core/src/core/account-verification/application/account-verification-service.ts
  backend/core/src/core/reset-password/application/reset-password-service.ts
  backend/core/src/core/reset-password/port/reset-password-repository.ts
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  backend/core/src/secondary-adapters/postgres/reset-password/reset-password-repository-adapter.ts
  backend/core/src/shared/enums/messages/success-messages.ts
  backend/core/src/validation-schemas/user/user.ts
  frontend/src/common/types/http/cancellable-request.ts
  frontend/src/common/types/http/http.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/restore-password-page.tsx
  frontend/src/pages/account-verification-page/account-verification-confirm-page.tsx
  frontend/src/pages/account-verification-page/account-verification-page.tsx
  frontend/src/pages/account-verification-page/send-verification-link-form/send-verification-link-form.tsx
  frontend/src/pages/account-verification-page/styles.module.scss
  frontend/src/pages/restore-password-confirm-page/restore-password-confirm-page.tsx
  frontend/src/pages/restore-password-confirm-page/select-new-password-form/select-new-password-form.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/validation-schemas/user/user.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/types/user/account-verification-init-request-dto.ts
  shared/src/common/types/user/account-verification-init-response-dto.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/account-verification-init-validation-schema.ts
  shared/src/validation-schemas/user/password-creation-schema.ts
  shared/src/validation-schemas/user/restore-password-confirm-base-validation-schema.ts
  shared/src/validation-schemas/user/restore-password-confirm-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
  shared/src/validation-schemas/user/user.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: + icons
  frontend/src/assets/img/bell-outline.svg
  frontend/src/assets/img/online-streaming.svg
  frontend/src/common/enums/components/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-50: * corrected PR remarks
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/image-editor/styles.module.scss
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-49: * removed unused volume from docker-compose.dev.yml + ffmpeg binary path to env variables * make fs service async
  .docker/docker-compose.dev.yml
  .docker/docker-compose.local.yml
  backend/video-transcoding-server/.env.example
  backend/video-transcoding-server/src/config/config.ts
  backend/video-transcoding-server/src/factories/ffmpeg-process/ffmpeg-process-factory.ts
  backend/video-transcoding-server/src/helpers/create-master-playlist.ts
  backend/video-transcoding-server/src/services/fs/fs-service.ts
Due: npm run lint:fs, prettier --write

frontend-69: + sun icon + theme sub menu * separate theme switch in store
  frontend/src/assets/img/sun-solid.svg
  frontend/src/common/enums/components/icon-name.enum.ts
  frontend/src/common/enums/components/user-menu-options.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/store/theme-switch/actions.ts
  frontend/src/store/theme-switch/common.ts
  frontend/src/store/theme-switch/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: * video card component
  frontend/src/components/search/components/common/video-tag/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-28: * added migration prisma
  backend/core/prisma/schema.prisma
Due: npm run lint:fs

frontend-78: * move video-tag component to common
  frontend/src/common/enums/components/index.ts
  frontend/src/common/enums/components/video-tag-name.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/common/common.tsx
  frontend/src/components/common/video-tag/styles.module.scss
  frontend/src/components/common/video-tag/video-tag.tsx
  frontend/src/components/search/components/common/common.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/components/search/config/config.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-28: * added migration prisma
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/enums.ts
  frontend/src/services/services.ts
  frontend/src/services/video-api/video-api.service.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/enums/enums.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-50: * corrected PR remarks
  backend/core/src/core/profile/aplication/profile-service.ts
  backend/core/src/core/profile/port/profile-repository.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
  backend/core/src/secondary-adapters/postgres/profile/profile-repositoty-adapter.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-94: * move notifications config into a common place
  frontend/src/components/auth/config/auth-notification/auth-notification-icon-name.config.ts
  frontend/src/components/auth/config/auth-notification/auth-notification-message.config.ts
  frontend/src/components/auth/config/auth-notification/auth-notification-title.config.ts
  frontend/src/components/auth/config/auth-notification/auth-notification-type.config.ts
  frontend/src/components/auth/config/auth-notification/auth-notification.config.ts.ts
  frontend/src/components/auth/config/config.ts
  frontend/src/components/auth/restore-password-page.tsx
  frontend/src/pages/account-verification-page/account-verification-confirm-page.tsx
  frontend/src/pages/restore-password-confirm-page/restore-password-confirm-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-49: * fixed volumes, + .env.example
  .docker/docker-compose.dev.yml
  .docker/docker-compose.local.yml
  .env.example/video-transcoding-server.env.examplle
  .ls-lint.yml
Due: npm run lint:fs

frontend-50: style fix
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-50: pr remarks fix
  backend/core/src/core/profile/aplication/profile-service.ts
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-50 fix pr remark
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-50: fix build error
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/image-editor/image-editor.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: + video-card-main
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * video card
  frontend/src/components/common/common.tsx
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * video tag
  frontend/src/components/common/common.tsx
  frontend/src/components/search/components/common/common.tsx
  frontend/src/components/search/components/common/video-tag/styles.module.scss
  frontend/src/components/search/components/common/video-tag/video-tag.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: - eslint disabled lines
  frontend/src/components/search/components/common/filter-select/filter-select.tsx
  frontend/src/components/search/components/filter-sidebar/filter-sidebar.tsx
  frontend/src/components/search/search.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-50: fix pr remarks
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  backend/core/src/shared/helpers/create-update-profile-response.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
  frontend/src/services/profile/profile-api.service.ts
  frontend/src/store/profile/reducer.ts
  shared/src/common/enums/api/profile-api-path.enum.ts
  shared/src/common/enums/image/image-upload-error-message.ts
  shared/src/common/enums/profile/profile-change-validation-message.ts
  shared/src/common/types/profile/profile-update-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-50: + link to profile prferences page to header menu
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js
