Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

docker: + missing import
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-282: * allow ' in first last name and channel name
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-173: * fix pr remark & tag scroll edge
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-261: * fix first name max length
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-282: + horizontal scroll for following category
  frontend/src/pages/following-page/tabs/tab-header/tab-header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontned-282: + horizontal scroll to browse page category
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-256: * fixed category binding
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/category/helpers/normalize-category-string-array-helper.ts
  backend/core/src/primary-adapters/rest/tag/helpers/normalize-tag-string-array-helper.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

shared-256: * fixed dto
  shared/src/common/types/stream/stream-update-request-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-256: + fixed modal styling, added additional controls, fixed bugs
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-173: + on click animation
  frontend/src/assets/img/horizontal-scroll-left-arrow.svg
  frontend/src/assets/img/horizontal-scroll-right-arrow.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-284: * refactored controllers due to scheme changes
  backend/core/src/core/channel-streaming/application/dtos/cast-to-video-stream-response-dto.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-channel-info.ts
  backend/core/src/shared/helpers/video/create-popular-response.ts
  backend/core/src/shared/types/channel/channel-info-before-trimming.ts
  backend/core/src/shared/types/stream/stream-info-before-trimming.type.ts
  backend/core/src/shared/types/tag/tag-search-response-dto.ts
  backend/core/src/shared/types/tag/tag.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend256: * fixed react select styles
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/custom-select-styles.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-256: + modal close button color prop
  frontend/src/components/common/modal/modal.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-256: * fixed most modal style issues
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/custom-select-styles.ts
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-256: * fixed stream page scaling
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-256: - page reload on stream edit
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/store/stream/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

implemented recommended and general video block
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/constants/constants.ts
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/common/videos-block/videos.config.ts
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/types/video/video-recommended-params.dto.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-225: * change sun icon
  frontend/src/assets/img/sun-solid.svg
Due: npm run lint:fs

common-286: + add basic recommendations retrieval flow
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/core/video/port/video-search-filters.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
  frontend/src/common/types/video/video.ts
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/rec-video-skeleton/rec-video-skeleton.tsx
  frontend/src/pages/video/links-block/rec-video-skeleton/styles.module.scss
  frontend/src/pages/video/links-block/rec-video-skeleton/video-skeleton.config.ts
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/video/get-similar-videos-response-dto.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

docker: - excessive ffmpeg loggin
  backend/video-transcoding-server/src/factories/ffmpeg-process/ffmpeg-process-factory.ts
Due: npm run lint:fs, prettier --write

backend-256: + old category removal
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/category/port/category-repository.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-291: * removed 'All' from modal, + some styles to make category posters fit container
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/store/categories/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-256: + fix tags removal
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/tag/application/tag-service.ts
  backend/core/src/core/tag/port/tag-repository.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-256: * fixed toggle display
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-258: + array helpers
  frontend/src/helpers/array/remove-item-if-exists.helper.ts
  frontend/src/helpers/array/replace-item-if-exists.helper.ts
  frontend/src/helpers/helpers.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-258: * comment delete response
  backend/core/src/primary-adapters/rest/comment/comment-controller.ts
  shared/src/common/types/comment/delete-comment-response-dto.type.ts
  shared/src/common/types/comment/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-258: + comment-api service
  frontend/src/services/comment-api/comment-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/store.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-258: * comment component
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-258: + update comment to comment service
  frontend/src/services/comment-api/comment-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-256: + white modal close button, footer button paddings, preview size fix
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-256: + color variables
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-256: - outdated code comment
  frontend/src/pages/studio/stream/stream-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-256: - outdated code comment
  frontend/src/pages/studio/stream/stream.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-256: - multiselect border radius
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/custom-select-styles.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-293: * fix bug from task
  frontend/src/components/common/videos-block/videos-block.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-293: * fix category video pagination
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/video.ts
  frontend/src/services/category-api/category-api.service.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/types/video/base-video-response-dto.type.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-293: frontend total video by category fix
  frontend/src/store/videos/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-239: + transaction to get video from category
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/components/common/videos-block/videos-block.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-173: + animation on scroll arrow
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/pages/following-page/tabs/tab-button/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-173: * fix linter error
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
