Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

backend-61: * improve validation and DTOs
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  backend/core/src/primary-adapters/rest/middleware/authentication-middleware.ts
  backend/core/src/shared/enums/enums.ts
  backend/core/src/shared/enums/exceptions/exception-messages.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/enums/messages/index.ts
  backend/core/src/shared/enums/messages/success-messages.ts
  backend/core/src/shared/types/user/user.ts
  backend/core/src/validation-schemas/user/user.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/types/user/refresh-password-request-dto.ts
  shared/src/common/types/user/restore-password-init-request-dto.ts
  shared/src/common/types/user/restore-password-init-response-dto.ts
  shared/src/common/types/user/user-sign-in-response-dto.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/refresh-token/refresh-token-request.ts
  shared/src/validation-schemas/user/restore-password-init-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-in-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
  shared/src/validation-schemas/user/user.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-61: * fix imports in frontend
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/validation-schemas/user/user.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-51: * docker-compose & nginx.conf
  .docker/docker-compose.dev.yml
  .docker/docker-compose.local.yml
  .gitignore
  nginx/nginx.conf
  public/segments/data.json
Due: npm run lint:fs, prettier --write

backend-42: * update base video response and + reaction request response and subscription response
  shared/src/common/types/types.ts
  shared/src/common/types/video/create-reaction-request-dto.ts
  shared/src/common/types/video/create-reaction-response-dto.ts
  shared/src/common/types/video/create-subscribtion-response-dto.ts
  shared/src/common/types/video/video-base-response.ts
  shared/src/common/types/video/video-coment.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: + channel controller
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/channel/channel-container-module.ts
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/primary-adapters/rest/channel/channel.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: - unnecessary dto
  frontend/src/common/types/notifications/notifications.ts
  frontend/src/services/notification/notification.service.ts
  shared/src/common/types/notification/notification-request-dto.type.ts
  shared/src/common/types/notification/notification.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-95: + streaming key migration fix
  backend/core/prisma/migrations/20220819144407_fix_unique_indexes/migration.sql
Due: npm run lint:fs

backend-95: + streaming key migration fix
  backend/core/prisma/migrations/20220819150254_fix_unique_indexes/migration.sql
Due: npm run lint:fs

frontend-28: + added main page component
  frontend/src/components/app/app.module.scss
  frontend/src/components/common/filters-block/filter-list.mock.ts
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/sidebar/sidebar.module.scss
  frontend/src/components/common/video-card/styles.module.scss
  frontend/src/components/common/video-card/video-card.tsx
  frontend/src/components/common/videos-block/videos-block.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/common/videos-block/videos.mock.ts
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/main-page/main-page.module.scss
  frontend/src/pages/main-page/main-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-49: * fixed volumes + add consumer on stream interruption
  .docker/docker-compose.dev.yml
  .docker/docker-compose.local.yml
  backend/core/src/core/channel/application/channel-service.ts
  backend/video-transcoding-server/src/app.ts
  backend/video-transcoding-server/src/config/amqp-connection.ts
  backend/video-transcoding-server/src/core/ffmpeg-process.ts
  backend/video-transcoding-server/src/core/index.ts
  backend/video-transcoding-server/src/factories/ffmpeg-process/ffmpeg-process-factory.ts
  readme.md
  shared/src/common/enums/amqp/amqp-channel.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: * type refactoring
  frontend/src/common/types/notifications/notifications.ts
  frontend/src/common/types/request/request.ts
  frontend/src/common/types/types.ts
  shared/src/common/types/notification/notification-response-dto.type.ts
  shared/src/common/types/notification/notification.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: + notification actions
  frontend/src/store/notification/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-49: * fix volumes again + workflows
  .docker/docker-compose.dev.yml
  .docker/docker-compose.local.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  backend/video-transcoding-server/.gitignore
  backend/video-transcoding-server/package.json
Due: npm run lint:fs, prettier --write

frontend-42: + channel types
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/channel-api-path.enum.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/channel/channel-base-response.ts
  shared/src/common/types/channel/channel.ts
  shared/src/common/types/channel/create-subscribtion-response-dto.ts
  shared/src/common/types/types.ts
  shared/src/common/types/video/video-base-response.ts
  shared/src/common/types/video/video-reaction.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: + subscription logic
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/channel/channel.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/video/video.ts
  frontend/src/services/channel/channel-api-service.ts
  frontend/src/services/services.ts
  frontend/src/services/video/video-api-service.ts
  frontend/src/store/store.ts
  frontend/src/store/video/action.ts
  frontend/src/store/video/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: * get video data by id
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/core/video/aplication/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/profile/profile-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/video/create-add-reaction-response.ts
  backend/core/src/shared/helpers/video/create-video-base-response.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/types.ts
  backend/core/src/shared/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * enums
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/http/http.ts
  frontend/src/common/enums/messages/error-messages.ts
  frontend/src/common/enums/messages/index.ts
  shared/src/common/enums/http/http-code.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: + optional auth for get video data route
  backend/core/src/core/video/aplication/video-service.ts
  backend/core/src/primary-adapters/rest/middleware/authentication-middleware.ts
  backend/core/src/primary-adapters/rest/middleware/index.ts
  backend/core/src/primary-adapters/rest/middleware/optional-auth-middleware.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42 * fix reducer error
  frontend/src/store/video/action.ts
  frontend/src/store/video/common.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: + reactions
  backend/core/src/core/video/aplication/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/video/create-add-reaction-response.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * reaction request type
  shared/src/common/types/video/create-reaction-request-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * auth service
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * header
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * auth pages
  frontend/src/components/auth/sign-in-page.tsx
  frontend/src/components/auth/sign-up-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * app component
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: + video reaction logic
  frontend/src/common/types/video/react-video-action-payload.type.ts
  frontend/src/common/types/video/video.ts
  frontend/src/services/video/video-api-service.ts
  frontend/src/store/video/action.ts
  frontend/src/store/video/common.ts
  frontend/src/store/video/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * fix create reaction type
  shared/src/common/types/video/create-reaction-request-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * header component
  frontend/src/components/common/header/config.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/helpers.ts
  frontend/src/hooks/hooks.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: * enum/type/icon name refactoring
  frontend/src/assets/img/compass.svg
  frontend/src/assets/img/mark-as-read.svg
  frontend/src/assets/img/sign-out.svg
  frontend/src/assets/img/time-ago.svg
  frontend/src/assets/img/x-mark.svg
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/component/icon-color.enum.ts
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/common/enums/component/user-menu-options.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/file/file.ts
  frontend/src/common/enums/http/http.ts
  frontend/src/common/enums/message/error-message.enum.ts
  frontend/src/common/enums/message/message.ts
  frontend/src/common/enums/messages/error-messages.ts
  frontend/src/common/enums/messages/index.ts
  frontend/src/common/enums/notification/notification.ts
  frontend/src/common/enums/notifications/index.ts
  frontend/src/common/enums/storage/storage-keys.enum.ts
  frontend/src/common/enums/storage/storage.ts
  frontend/src/common/enums/toast-notification/toast-notification.ts
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/components/components.ts
  frontend/src/common/types/notification/notification.ts
  frontend/src/common/types/sidebar/sidebar.ts
  frontend/src/common/types/sidebar/subscribe-chanel.type.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/common/types/validation/validation.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/toast-notification/toast-notification-type.enum.ts
  shared/src/common/enums/toast-notification/toast-notification.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: * import fixes and naming refactoring (logout->sign out, Notification->ToastNotification)
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  backend/core/src/validation-schemas/refresh-token/refresh-token.ts
  backend/core/src/validation-schemas/user/user.ts
  frontend/src/components/auth/sign-in-page.tsx
  frontend/src/components/auth/sign-up-page.tsx
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/send-message/send-message.tsx
  frontend/src/components/common/sidebar/route-pages.config.ts
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/common/sidebar/subscription-list.mock.ts
  frontend/src/components/common/video-card/video-card.tsx
  frontend/src/components/notification-dropdown/components/notification/notification.tsx
  frontend/src/components/notification-dropdown/notification-dropdown.tsx
  frontend/src/components/search/components/common/filter-bar-select/filter-bar-select.tsx
  frontend/src/components/search/components/common/filter-dropdown/filter-dropdown.tsx
  frontend/src/components/search/components/common/filter-select/filter-select.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/components/sidebar/chanel/index.tsx
  frontend/src/components/studio/sidebar/sidebar.tsx
  frontend/src/exceptions/exceptions.ts
  frontend/src/helpers/routes/is-route-have-header.ts
  frontend/src/helpers/typescript/typescript.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/interceptors/refresh-token-interceptor.ts
  frontend/src/services/notification/notification.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/validation-schemas/user/user.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: * imports refactoring and name fixing
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/notification/notification.ts
  frontend/src/common/types/sidebar/sidebar.ts
  frontend/src/common/types/sidebar/subscribe-chanel.type.ts
  frontend/src/common/types/types.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/channel/channel-subscription-response-dto.type.ts
  shared/src/common/types/channel/channel.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: * naming fixes
  frontend/src/components/app/tests/video-card/video-card.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/notifications/index.ts
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/common/sidebar/subscription-list.mock.ts
  frontend/src/components/common/toast-notification/config.ts
  frontend/src/components/common/toast-notification/index.ts
  frontend/src/components/common/toast-notification/styles.module.scss
  frontend/src/components/common/toast-notification/toast-notification.tsx
  frontend/src/components/common/toast-notification/toast-notifications.tsx
  frontend/src/components/common/video-card/video-card.tsx
  frontend/src/components/sidebar/chanel/index.tsx
  frontend/src/components/sidebar/channel/channel.module.scss
  frontend/src/components/sidebar/channel/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-29: * svg icon size fix
  frontend/src/components/common/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-42: * fix returned type of get fide by id route
  backend/core/prisma/migrations/20220819215659_n/migration.sql
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/video/create-video-base-response.ts
  backend/core/src/shared/helpers/video/types/create-base-vide-response-input.type.ts
  backend/core/src/shared/helpers/video/types/types.ts
  frontend/src/assets/img/thumb-down.svg
  frontend/src/assets/img/thumb-up.svg
  frontend/src/pages/not-found-page/not-found.tsx
  frontend/src/pages/not-found-page/styles.module.css
  frontend/src/pages/not-found-page/styles.module.css.map
  frontend/src/pages/not-found-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-42: + display video comment
  frontend/src/common/enums/components/icon-name.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/video-card/styles.module.scss
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/helpers/user/get-full-username.ts
  frontend/src/pages/pages.ts
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/store/actions.ts
  shared/src/common/types/comment/index.ts
  shared/src/common/types/video/comment-author.ts
  shared/src/common/types/video/video-coment.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-29: + notification reducer
  frontend/src/store/notification/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * user shared
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/common/types/user/user-sign-up-request-dto.type.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * sign up controller
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: + confirm password form
  frontend/src/components/auth/components/sign-up-form/common.ts
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: + constants in frontend
  backend/core/src/shared/constants/constants.ts
  backend/core/src/shared/helpers/encryption/hash-value.ts
  frontend/src/common/constants/constants.ts
  frontend/src/common/constants/notification/notification.ts
Due: npm run lint:fs, prettier --write, npm run lint:js
