Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

frotnend-93: + poster display fix
  frontend/src/pages/studio/stream/stream.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + link to stream creation
  frontend/src/pages/studio/home/home.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: * package.json
  package.json
Due: npm run lint:fs, prettier --write

backend-208: * revert fix package.json
  package.json
Due: npm run lint:fs, prettier --write

frontend-209: + complete frontend functionality
  frontend/src/components/app/app.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/loader/loader.tsx
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/route-pages.config.ts
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/following-page/styles.module.scss
  frontend/src/pages/following-page/tabs/common/no-videos-yet/styles.module.scss
  frontend/src/pages/following-page/tabs/live-videos/live-videos-tab.tsx
  frontend/src/pages/following-page/tabs/offline-videos/offline-videos-tab.tsx
  frontend/src/pages/following-page/tabs/overview/block-container/block-container.tsx
  frontend/src/pages/following-page/tabs/overview/block-container/header/header.tsx
  frontend/src/pages/following-page/tabs/overview/block-container/header/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/block-container/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/constants.ts
  frontend/src/pages/following-page/tabs/overview/live-block/live-block.tsx
  frontend/src/pages/following-page/tabs/overview/offline-block/offline-block.tsx
  frontend/src/pages/following-page/tabs/overview/overview-tab.tsx
  frontend/src/pages/following-page/tabs/overview/scrollable-videos-list/scrollable-videos-list.tsx
  frontend/src/pages/following-page/tabs/overview/scrollable-videos-list/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/tab-header.tsx
  frontend/src/pages/following-page/tabs/tab-info.ts
  frontend/src/pages/following-page/tabs/tab.ts
  frontend/src/pages/following-page/tabs/tabs.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-56: + added filtration and sort for video search
  backend/core/prisma/migrations/20220829185929_add_index_for_video/migration.sql
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/enums.ts
  backend/core/src/shared/enums/video/video-filters-data.config.ts
  backend/core/src/shared/enums/video/video.ts
  backend/core/src/shared/types/types.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
  backend/core/src/shared/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: + posibility to update channel info
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/core/channel-crud/port/channel-crud-repository.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
  frontend/src/pages/studio/channel/channel.tsx
  frontend/src/services/channel-crud-api/channel-crud-api.service.ts
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: * deploy-dev.yml
  .github/workflows/deploy-dev.yml
Due: npm run lint:fs

common-209: * fix remarks
  backend/core/src/core/following/application/following-service.ts
  backend/core/src/primary-adapters/rest/following/following-controller.ts
  frontend/src/components/app/app.tsx
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/following-page/tabs/live-videos/live-videos-tab.tsx
  frontend/src/pages/following-page/tabs/offline-videos/offline-videos-tab.tsx
  frontend/src/pages/following-page/tabs/overview/block-container/header/header.tsx
  frontend/src/pages/following-page/tabs/overview/live-block/live-block.tsx
  frontend/src/pages/following-page/tabs/overview/offline-block/offline-block.tsx
  frontend/src/pages/following-page/tabs/tab.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + fixed settings form default values
  frontend/src/pages/studio/home/styles.module.scss
  frontend/src/pages/studio/new-stream/new-stream.tsx
  frontend/src/pages/studio/new-stream/styles.module.scss
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/store/stream/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-209: * fix swagger doc
  backend/core/src/primary-adapters/rest/following/following-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-56: * fixed location enums file
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/shared/enums/video/video-filters-data.config.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/search/search-models.enum.ts
  shared/src/common/enums/search/search.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-183: + ability to update avatar * fixed page markup
  frontend/src/assets/img/default-channel-banner.jpg
  frontend/src/components/common/image-editor/image-editor.tsx
  frontend/src/pages/studio/channel/channel.tsx
  frontend/src/pages/studio/channel/styles.module.scss
  frontend/src/services/channel-crud-api/channel-crud-api.service.ts
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common: + tests
  .ls-lint.yml
  package-lock.json
  package.json
  tests/README.md
  tests/index.d.ts
  tests/package-lock.json
  tests/package.json
  tests/reporter.config.json
  tests/scripts/merge-api-reports.js
  tests/scripts/run-allure-generation.js
  tests/tests/api/config/dev.config.ts
  tests/tests/api/config/ppr.config.ts
  tests/tests/api/lib/controllers/auth.controller.ts
  tests/tests/api/lib/controllers/channel.controller.ts
  tests/tests/api/lib/controllers/channel.streming.controller.ts
  tests/tests/api/lib/controllers/history.controller.ts
  tests/tests/api/lib/controllers/profile.controler.ts
  tests/tests/api/lib/controllers/user.controller.ts
  tests/tests/api/lib/controllers/users.controller.ts
  tests/tests/api/lib/controllers/video.controller.ts
  tests/tests/api/lib/controllers/videos.controller.ts
  tests/tests/api/lib/request.ts
  tests/tests/api/specs/autorization_api-test.ts
  tests/tests/api/specs/data/schemas_testData.json
  tests/tests/api/specs/positive_api-test.ts
  tests/tests/helpers/functionsForChecking.helpers.ts
  tests/tsconfig.json
Due: npm run lint:fs, prettier --write

common: * resolve dependency versions
  tests/package-lock.json
  tests/package.json
Due: npm run lint:fs, prettier --write

backend-107: + middleware for create video history record
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/primary-adapters/rest/middleware/create-video-history-record.ts
  backend/core/src/primary-adapters/rest/middleware/index.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/shared/types/container-type-keys.ts
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/store/history/reducer.ts
  shared/src/common/types/history/history-request-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotend-107: remove unused type
  shared/src/common/types/history/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: * disable react strict mode
  frontend/src/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: * remove unused action
  frontend/src/store/history/actions.ts
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontned-107: * remove unused service functionality
  frontend/src/services/history/history-api.service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: remove unused useEffect
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: + helper for history page
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/date/get-date-string-at-dd-mm-yyyy-format/get-date-string-at-dd-mm-yyyy-format.ts
  frontend/src/helpers/date/is-date-same-by-day-mounth-year/is-date-same-by-day-mounth-year.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: * update history page
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-107 * package.json remove '^'
  frontend/package.json
  frontend/src/common/types/history/history.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-107: * fix types
  shared/src/common/types/history/history-request-dto.ts
  shared/src/common/types/history/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: * small infinite scroll fix
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common: * .gitignore
  .gitignore
Due: npm run lint:fs

backend-56: + added swagger configurations and fix remarks
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/video/video-filters-data.config.ts
  backend/core/src/shared/helpers/video/date-helper.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: + icons
  frontend/src/assets/img/clock-rotate-left.svg
  frontend/src/assets/img/ellipsis-vertical.svg
  frontend/src/assets/img/up-right-from-square.svg
  frontend/src/assets/img/users-between-lines.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * fix search clear icon
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-206: + chat socket handshake
  backend/push/src/helpers/get-socket-id-by-user-id.helper.ts
  backend/push/src/helpers/get-user-ids-in-room.helper.ts
  backend/push/src/services/socket/socket-service.ts
  frontend/src/components/app/app.tsx
  shared/src/common/enums/socket/socket-events.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: +live chat page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/pages/live-chat/live-chat.tsx
  frontend/src/pages/live-chat/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-206: * video chat
  frontend/src/common/enums/component/chat-menu-options.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/video-chat/components/components.ts
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.module.scss
  frontend/src/components/video-chat/components/video-comment/video-comment.tsx
  frontend/src/components/video-chat/config.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/helpers/common/common.ts
  frontend/src/helpers/common/debounce.helper.ts
  frontend/src/helpers/common/get-right-update-time-delay.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/live-chat/config.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-206: + socket store
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/socket/actions.ts
  frontend/src/store/socket/common.ts
  frontend/src/store/socket/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * video page
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-206: - dublicate users in helper
  backend/push/src/helpers/get-user-ids-in-room.helper.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + initial files
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: + add more form
  frontend/src/components/common/input/datetime-input/datetime-input.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/pages/studio/analytics/analytics.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-form/initial-form-values.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-form/stream-edit-form-values.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-form/stream-edit-form.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-modal.tsx
  frontend/src/pages/studio/common/stream-edit-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: + reworked routing
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/app/app.tsx
  frontend/src/pages/studio/home/home-container.tsx
  frontend/src/pages/studio/home/home.tsx
  frontend/src/pages/studio/home/styles.module.scss
  frontend/src/pages/studio/new-stream/new-stream.tsx
  frontend/src/pages/studio/new-stream/styles.module.scss
  frontend/src/store/stream/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: + base stream page rework
  frontend/src/common/enums/stream/stream-privacy-label.enum.ts
  frontend/src/common/enums/stream/stream.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css
