Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-85: * fix styles
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/common/logo/logo.module.scss
  frontend/src/components/common/toggle-switch/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-116: * fix restore password form bug
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  frontend/src/components/auth/components/error-display-with-code/error-display-with-code.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/restore-password-confirm-page/restore-password-confirm-page.tsx
  frontend/src/pages/restore-password-confirm-page/select-new-password-form/select-new-password-form.tsx
  shared/src/exceptions/error-codes/error-codes.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-85: * video card styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: * sidebar styles
  frontend/src/assets/css/config.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-85: * video card name title
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-44: * fix migration
  backend/core/prisma/migrations/20220822213331_add_channel_avatar/migration.sql
Due: npm run lint:fs

frontend-85: * loader color
  frontend/src/components/common/loader/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-153: fix width of avatar editor
  frontend/src/components/common/image-editor/image-editor.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-window-dimension/use-window-dimension.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-85: * icons
  frontend/src/assets/img/chevron-down.svg
  frontend/src/assets/img/chevron-up.svg
  frontend/src/assets/img/default-channel-avatar.jpg
  frontend/src/assets/img/time-ago.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-85: + subscription dto
  frontend/src/common/types/subscription/subscription.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/sidebar/subscription-list.mock.ts
  shared/src/common/types/subscription/base-subscription-response-dto.type.ts
  shared/src/common/types/subscription/subscription.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-85: + promo component
  frontend/src/components/common/common.ts
  frontend/src/components/common/promo/promo.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-85: * channel view
  frontend/src/components/sidebar/channel/channel.module.scss
  frontend/src/components/sidebar/channel/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-85: * sidebars
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/config.ts
  frontend/src/components/common/sidebar/sidebar-container.tsx
  frontend/src/components/common/sidebar/sidebar.module.scss
  frontend/src/components/common/sidebar/sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-85: + text formated views helper
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/video/get-text-formated-views-string.helper.ts
  frontend/src/helpers/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-85: * fix active hover
  frontend/src/components/common/sidebar/sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: * move promo component
  frontend/src/components/common/common.ts
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/sidebar/promo/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-85: * header styles
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend-145: * fixed jumping content and centerd filters block
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-153: * fix profile styles
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: + mobile search
  frontend/src/assets/css/config.scss
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-85: * fix styles
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: * fix styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: * fix header styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-85: * fix position of notification badge
  frontend/src/components/notification-dropdown/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: * fix logo text color
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/logo/logo.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-165: + css color enum
  frontend/src/common/constants/color/color.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-115: + some types for tag and category api + category api route
  backend/core/prisma/schema.prisma
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/category/application/dtos/cast-to-category-response-dto.ts
  backend/core/src/core/category/application/dtos/cast-to-search-response-dto.ts
  backend/core/src/core/category/category-container-module.ts
  backend/core/src/core/category/port/category-repository.ts
  backend/core/src/core/tag/application/tag-service.ts
  backend/core/src/core/tag/port/tag-repository.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/primary-adapters/rest/category/helpers/helpers.ts
  backend/core/src/primary-adapters/rest/category/helpers/normalize-category-filters-helper.ts
  backend/core/src/primary-adapters/rest/category/helpers/normalize-payload-helper.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/container-type-keys.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/category-api-path.enum.ts
  shared/src/common/types/category/category-bind-to-video-dto.ts
  shared/src/common/types/category/category-create-request-dto.ts
  shared/src/common/types/category/category-response-dto.ts
  shared/src/common/types/category/category-search-request-query-dto.ts
  shared/src/common/types/category/category.ts
  shared/src/common/types/category/categpry-search-response-dto.ts
  shared/src/common/types/tag/tag-bind-to-video-dto.ts
  shared/src/common/types/tag/tag.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-165: fixed loader colors and display
  frontend/src/assets/css/scaffolding.scss
  frontend/src/common/constants/color/color.ts
  frontend/src/components/auth/components/common/auth-submit-btn/auth-submit-btn.tsx
  frontend/src/components/common/loader/loader.tsx
  frontend/src/components/common/loader/styles.module.scss
  frontend/src/pages/account-verification-page/account-verification-confirm-page.tsx
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-165: * removed black color
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/loader/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: fixed typo
  frontend/src/assets/css/config.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-159: * form styles fix
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-159: - removed old style
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-159: * fixed auth confirm button text style
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-115: + added route for getting all list of categories
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/category/port/category-repository.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
  shared/src/common/types/category/category-get-all-request-dto.ts
  shared/src/common/types/category/category.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-44: * refactor channel page a bit
  backend/core/src/shared/helpers/trim-channel-info.ts
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/pages/channel-page/channel-page.tsx
  frontend/src/pages/channel-page/components/channel-header/channel-info/styles.module.scss
  frontend/src/pages/channel-page/components/channel-header/styles.module.scss
  frontend/src/pages/channel-page/components/video-section/channel-video-card/channel-video-card.tsx
  frontend/src/pages/channel-page/components/video-section/styles.module.scss
  frontend/src/pages/channel-page/components/video-section/video-section.tsx
  frontend/src/pages/channel-page/styles.module.scss
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/store/channel/reducer.ts
  shared/src/common/types/channel/channel-details/channel-video-previews-response-dto.ts
  shared/src/helpers/typescript/optional-properties.ts
  shared/src/helpers/typescript/typescript.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-115: + delete, update, get all category routes
  backend/core/prisma/migrations/20220826081234_add_poster_category/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed.ts
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/category/application/dtos/cast-to-category-response-dto.ts
  backend/core/src/core/category/port/category-repository.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/primary-adapters/rest/category/helpers/normalize-payload-helper.ts
  backend/core/src/primary-adapters/rest/category/helpers/normalize-update-payload-helper.ts
  backend/core/src/secondary-adapters/cloudinary/cloudinary-container-module.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
  shared/src/common/enums/cloudinary/image-store-preset.enum.ts
  shared/src/common/types/category/category-create-dto.ts
  shared/src/common/types/category/category-create-request-dto.ts
  shared/src/common/types/category/category-response-dto.ts
  shared/src/common/types/category/category-update-dto.ts
  shared/src/common/types/category/category-update-request-dto.ts
  shared/src/common/types/category/category.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend: + add automatic channel creation
  backend/core/src/core/channel-crud/port/channel-crud-repository.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-148: * fix loader|
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
