Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

frontend-42: + modal when user not sign in and try react video
  frontend/src/pages/video/common/sign-in-modal/sign-in-modal.tsx
  frontend/src/pages/video/common/sign-in-modal/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-106: +chat rooms
  backend/core/src/core/chat/application/chat-service.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/push/src/config/amqp-connection.ts
  backend/push/src/services/socket/socket-service.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/app/tests/stream-chat/stream-chat.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/pages/video/video-page-container.tsx
  shared/src/common/enums/amqp/amqp-channel.enum.ts
  shared/src/common/enums/socket/socket-events.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: updated prisma schema and enums
  backend/core/prisma/migrations/20220828132841_update_video_model/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed-data/videos.ts
  backend/core/prisma/seed.ts
  backend/core/src/shared/helpers/trim-channel-info.ts
  shared/src/common/enums/stream/stream-privacy.enum.ts
  shared/src/common/enums/stream/stream-status.enum.ts
  shared/src/exceptions/error-codes/error-codes.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + error code status in redux state and small fixes
  backend/core/src/core/channel-streaming/application/dtos/cast-to-video-stream-response-dto.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/primary-adapters/rest/middleware/channel-action-middleware.ts
  frontend/src/components/app/app.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/services/channel-crud-api/channel-crud-api.service.ts
  frontend/src/services/channel-streaming-api/channel-streaming-api.service.ts
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/reducer.ts
  package-lock.json
  package.json
Due: npm run lint:fs, prettier --write, npm run lint:js

common-109: + add subscroption on channel page
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/primary-adapters/rest/middleware/base-authentication-middleware.ts
  backend/core/src/shared/helpers/trim-channel-info.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/subscribe-button/styles.module.scss
  frontend/src/components/common/subscribe-button/subscribe-button.tsx
  frontend/src/pages/channel-page/components/channel-header/styles.module.scss
  frontend/src/pages/channel-page/components/channel-header/subscribe/styles.module.scss
  frontend/src/pages/channel-page/components/channel-header/subscribe/subscribe.tsx
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
  shared/src/common/types/channel/channel-details/channel-info-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: + added error codes to exception throws
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/primary-adapters/rest/middleware/channel-action-middleware.ts
  shared/src/exceptions/error-codes/error-codes.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: * chat messages view
  backend/core/src/secondary-adapters/postgres/chat/chat-repository-adapter.ts
  frontend/src/components/common/send-message/send-message.module.scss
  frontend/src/components/common/send-message/send-message.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/components/video-chat/video-comment/video-comment.module.scss
  frontend/src/pages/video/video-page.module.scss
  frontend/src/store/chat/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-42: * fix modal and comment add form
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend38: * fix controls' colors in light theme
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-player/play-pause-center-effect/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/live-indicator/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/progress-bar/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/volume-input/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-189: + channel avatars to seed data
  backend/core/prisma/seed-data/channels.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + forbidden page
  frontend/src/components/placeholder-page/forbidden.tsx
  frontend/src/components/placeholder-page/index.ts
  frontend/src/components/placeholder-page/not-found.tsx
  frontend/src/components/placeholder-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-106: + update live views
  backend/push/src/helpers/debounce.ts
  backend/push/src/services/socket/socket-service.ts
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/socket/socket-events.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-42: * fix classname
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-106: * fixed socket connection config
  frontend/src/common/config/socket.ts
  frontend/src/common/enums/app/env.enum.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: * client env
  .env.example/client.env.example
  backend/push/src/services/socket/socket-service.ts
  dist/styles/styles.module.css
  dist/styles/styles.module.css.map
  frontend/.env.example
  frontend/src/common/config/socket.ts
  frontend/src/common/enums/app/env.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-182: + configure first part of data for videos
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: * change debounce to throttle
  backend/push/src/helpers/throttle.ts
  backend/push/src/services/socket/socket-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: * video-comment
  frontend/src/components/video-chat/video-comment/video-comment.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-182: * move video link from poster to videoPath
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: * send-message
  frontend/src/components/common/send-message/send-message.module.scss
  frontend/src/components/common/send-message/send-message.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: + error handling fixes
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  frontend/src/components/app/app.tsx
  frontend/src/helpers/redux/get-rejected-error-data.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/store/channel/actions.ts
  frontend/src/store/stream/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: * working on redirects
  backend/core/prisma/seed-data/channels.ts
  backend/core/prisma/seed-data/user-profiles.ts
  backend/core/prisma/seed-data/users.ts
  backend/core/prisma/seed-data/videos.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: * working on redirects
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/helpers/redux/get-rejected-error-data.ts
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/studio/new-stream/new-stream.tsx
  frontend/src/pages/studio/new-stream/styles.module.scss
  frontend/src/pages/studio/stream/stream-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-188: + implement ability to update channel profile settings
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/core/channel-crud/port/channel-crud-repository.ts
  backend/core/src/secondary-adapters/cloudinary/cloudinary-container-module.ts
  backend/core/src/secondary-adapters/cloudinary/config/config.ts
  backend/core/src/secondary-adapters/cloudinary/config/presets.ts
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
  shared/src/common/enums/cloudinary/image-store-preset.enum.ts
  shared/src/common/types/channel/channel-details/channel-details.ts
  shared/src/common/types/channel/channel-details/channel-profile-update-dto.ts
  shared/src/common/types/channel/channel-details/channel-profile-update-media-request.ts
  shared/src/common/types/channel/channel-details/channel-profile-update-media.ts
  shared/src/common/types/channel/channel-details/channel-profile-update-request-dto.ts
  shared/src/common/types/channel/channel-details/channel-profile-update-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-174: * fixed some filter block styles
  frontend/src/components/common/filters-block/filters-block.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-115: * make some routes for tag and category apis public
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-115: * fixed some filter block styles
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-191: + temporary mock for real channels in sidebar
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/common/sidebar/subscription-list.mock.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend192: + added base sorting for videos
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

shared-93: * fixed merge errors
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/shared/helpers/trim-video.ts
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/channel/reducer.ts
  shared/src/common/types/category/category-response-dto.ts
  shared/src/common/types/video/base-video-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-56: + added controller for search video
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-109: + initial fetching and display
  backend/core/src/core/channel-subscription/application/channel-subscription-service.ts
  backend/core/src/core/channel-subscription/port/channel-subscription-repository.ts
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-subscription/channel-subscription-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/trim-subscription-info.ts
  frontend/src/components/common/sidebar/sidebar-container.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/sidebar/reducer.ts
  shared/src/common/types/auth/get-current-user-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-197: - bannerImage placeholder from one of channel seeds
  backend/core/prisma/seed-data/channels.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-199: * fixed disappears video after reload page
  frontend/src/pages/channel-page/channel-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: - remove unneccessary onBlur and onFocus in Input
  frontend/src/components/common/input/input-component.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

+ poster upload
  frontend/src/pages/studio/stream/stream.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-199: - revert wrong fix
  frontend/src/pages/channel-page/channel-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend199: + fix reducers logic
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/pages/channel-page/components/video-section/video-section.tsx
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/store/channel/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-93: * fix types
  backend/core/src/core/category/application/dtos/cast-to-search-response-dto.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/channel-streaming/application/dtos/cast-to-video-stream-response-dto.ts
  backend/core/src/core/tag/application/dtos/cast-to-search-response-dto.ts
  backend/core/src/secondary-adapters/postgres/profile/profile-repositoty-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/types/stream/stream-key-info-before-trimming.type.ts
  backend/core/src/shared/types/stream/stream.ts
  shared/src/common/enums/stream/stream-privacy.enum.ts
  shared/src/common/enums/stream/stream-status.enum.ts
  shared/src/common/types/stream/live-start-response-dto.type.ts
  shared/src/common/types/stream/stream.ts
  shared/src/common/types/stream/streaming-key-w-author-response-dto.type.ts
  shared/src/common/types/video/base-video-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js
