Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

backend-48: + reworked channel controller/service, added amqp notifications for transcoder
  backend/core/prisma/schema.prisma
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  shared/src/common/enums/amqp/amqp-channel.enum.ts
  shared/src/common/types/channel/reset-streaming-key-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: * fixed migration
  backend/core/prisma/migrations/20220818121315_add_streaming_status/migration.sql
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backnend-48: * fixed error handling and split the functions in service
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: + channel-api-path
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
  backend/core/src/shared/enums/api/api.ts
  shared/src/common/enums/api/channel-api-path.enum.ts
  shared/src/common/enums/enums.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: + video controller that allow get video information
  backend/core/src/core/video/aplication/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/core/video/video-container-module.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/profile/profile-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/video/create-video-base-response.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/types.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/types/types.ts
  shared/src/common/types/video/video-base-response.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backnend-48: + swagger docs
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: + get streaming key, swagger routes fixed
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/shared/types/channel/channel.ts
  backend/core/src/shared/types/request/request.ts
  backend/core/src/shared/types/types.ts
  shared/src/common/enums/api/channel-api-path.enum.ts
  shared/src/common/types/channel/channel.ts
  shared/src/common/types/channel/reset-streaming-key-response-dto.type.ts
  shared/src/common/types/channel/streaming-key-response-dto.type.ts
  shared/src/common/types/request/default-request-param.type.ts
  shared/src/common/types/request/request.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: - unnecessary dockerfile import
  .docker/frontend.Dockerfile
Due: npm run lint:fs

backend-48: + returned dockerfile line I accidentally deleted
  .docker/frontend.Dockerfile
Due: npm run lint:fs

backend-48: * fixed naming in channel service
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: * fixed amqp notifications
  backend/core/src/core/channel/application/channel-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: * removed unnecessary nginx config
  nginx/nginx.local.conf
Due: npm run lint:fs

backend-48: * fixed application name in nginx config
  nginx/nginx.rtmp.conf
Due: npm run lint:fs

backend-48: - abundant networks
  .docker/docker-compose.dev.yml
  .docker/docker-compose.local.yml
Due: npm run lint:fs

backend-49: + ffmpeg process factory to implement different presets
  .ls-lint.yml
  backend/video-transcoding-server/.env.example
  backend/video-transcoding-server/.eslintrc.yml
  backend/video-transcoding-server/.gitignore
  backend/video-transcoding-server/package.json
  backend/video-transcoding-server/src/app.ts
  backend/video-transcoding-server/src/config/config.ts
  backend/video-transcoding-server/src/config/logger.ts
  backend/video-transcoding-server/src/factories/ffmpeg-process/ffmpeg-process-factory.ts
  backend/video-transcoding-server/src/factories/index.ts
  backend/video-transcoding-server/src/shared/index.ts
  backend/video-transcoding-server/src/shared/interfaces/ffmpeg-process/ffmpeg-process-creator-dto.interface.ts
  backend/video-transcoding-server/src/shared/interfaces/ffmpeg-process/ffmpeg-process.ts
  backend/video-transcoding-server/src/shared/interfaces/interfaces.ts
  backend/video-transcoding-server/src/shared/types/types.ts
  backend/video-transcoding-server/src/utils/folder-watcher.ts
  backend/video-transcoding-server/tsconfig.json
  package-lock.json
  package.json
  shared/src/common/enums/enums.ts
  shared/src/common/enums/ffmpeg/ffmpeg-presets.enum.ts
  shared/src/common/enums/ffmpeg/ffmpeg.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: * removed unnecessary returns and moved business logic from repository to service
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: * replaced getPendingStream(channelId) with more generalized getVideo(props)
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: + push docker build command which someone forgot to add
  readme.md
Due: npm run lint:fs

backend-48: * repository method naming fix
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-41: * corrected remarks in PR
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/helpers/comment/get-full-username.ts
  frontend/src/helpers/comment/index.ts
  frontend/src/helpers/common/join-existing-values.ts
  frontend/src/helpers/user/get-full-username.ts
  frontend/src/helpers/user/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-49: + filesystem service to init filestore for hls data
  backend/video-transcoding-server/src/app.ts
  backend/video-transcoding-server/src/services/fs/fs-service.ts
  backend/video-transcoding-server/src/services/index.ts
  backend/video-transcoding-server/src/utils/create-master-playlist.ts
  backend/video-transcoding-server/src/utils/index.ts
Due: npm run lint:fs, prettier --write

backend-49: + amqpConnection to app
  backend/video-transcoding-server/package.json
  backend/video-transcoding-server/src/app.ts
  backend/video-transcoding-server/src/config/amqp-connection.ts
  backend/video-transcoding-server/src/config/config.ts
  backend/video-transcoding-server/src/helpers/create-master-playlist.ts
  backend/video-transcoding-server/src/helpers/folder-watcher.ts
  backend/video-transcoding-server/src/helpers/geometric-progression.ts
  backend/video-transcoding-server/src/helpers/index.ts
  backend/video-transcoding-server/src/helpers/timeout.ts
  backend/video-transcoding-server/src/index.ts
  backend/video-transcoding-server/src/services/amqp/amqp-service.ts
  backend/video-transcoding-server/src/services/index.ts
  backend/video-transcoding-server/src/shared/constants/amqp/connection-tries.ts
  backend/video-transcoding-server/src/shared/constants/constants.ts
  backend/video-transcoding-server/src/shared/enums/amqp/amqp.ts
  backend/video-transcoding-server/src/shared/enums/enums.ts
  backend/video-transcoding-server/src/shared/exceptions/exceptions.ts
  backend/video-transcoding-server/src/shared/index.ts
  backend/video-transcoding-server/src/shared/types/ampq/ampq.ts
  backend/video-transcoding-server/src/shared/types/types.ts
Due: npm run lint:fs, prettier --write

backend-42: update readme
  readme.md
Due: npm run lint:fs

backend-49: + docker support, * refactored app structure
  .docker/docker-compose.local.yml
  .docker/video-transcoding-server.Dockerfile
Due: npm run lint:fs

frontend-38: + complete functionality
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/magnifying-glass.svg
  frontend/src/assets/img/settings-filled.svg
  frontend/src/assets/img/speedometer.svg
  frontend/src/components/common/video-player/helpers/seconds-to-display.ts
  frontend/src/components/common/video-player/play-pause-center-effect/play-pause-center-effect.tsx
  frontend/src/components/common/video-player/play-pause-center-effect/styles.module.scss
  frontend/src/components/common/video-player/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/control-button/control-button.tsx
  frontend/src/components/common/video-player/video-player-controls/control-button/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/live-indicator/live-indicator.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/progress-bar/progress-bar.tsx
  frontend/src/components/common/video-player/video-player-controls/progress-bar/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/generic-settings-modal/generic-settings-modal.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/generic-settings-modal/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/modal-item.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/quality-selector/quality-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/speed-selector/speed-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player-controls/video-time/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-time/video-time.tsx
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/volume-input/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/pages/main-page/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/backend57 + user video history
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/history-container-module.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/types.ts
  frontend/src/common/types/history/history.ts
  shared/src/common/types/history/history-request-dto.ts
  shared/src/common/types/history/history-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-38: - console.log
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/pages/main-page/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-48: + created separate container and added github build action
  .docker/docker-compose.dev.yml
  .docker/docker-compose.local.yml
  .docker/rtmp.Dockerfile
  .github/workflows/deploy-dev.yml
  readme.md
Due: npm run lint:fs

backend-48: + newline at the end of rtmp.dockerfile
  .docker/rtmp.Dockerfile
Due: npm run lint:fs

backend-48: * fixed docker rtmp configuration
  .docker/docker-compose.dev.yml
  .docker/rtmp.Dockerfile
  .github/workflows/deploy-dev.yml
Due: npm run lint:fs

backend-51: * nginx.local & docker-compose.local
  .docker/docker-compose.local.yml
  nginx/nginx.local.conf
  public/segments/data.json
Due: npm run lint:fs, prettier --write

deployment: fix nginx config mapping in docker compose file
  .docker/docker-compose.dev.yml
Due: npm run lint:fs

frontend-86: + get current user auth route
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/http/http-code.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: + video service
  frontend/src/services/services.ts
  frontend/src/services/video/video-api-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-49: * fixed folderWatcher + rabbitmq queues for tracking stream
  backend/video-transcoding-server/package.json
  backend/video-transcoding-server/src/app.ts
  backend/video-transcoding-server/src/config/amqp-connection.ts
  backend/video-transcoding-server/src/core/ffmpeg-process.ts
  backend/video-transcoding-server/src/core/index.ts
  backend/video-transcoding-server/src/core/init-store.ts
  backend/video-transcoding-server/src/factories/ffmpeg-process/ffmpeg-process-factory.ts
  backend/video-transcoding-server/src/factories/index.ts
  backend/video-transcoding-server/src/helpers/create-master-playlist.ts
  backend/video-transcoding-server/src/helpers/create-rtmp-url.ts
  backend/video-transcoding-server/src/helpers/folder-watcher.ts
  backend/video-transcoding-server/src/helpers/index.ts
  backend/video-transcoding-server/src/index.ts
  backend/video-transcoding-server/src/shared/interfaces/ffmpeg-process/ffmpeg-process-creator-dto.interface.ts
  package-lock.json
  package.json
  shared/src/common/enums/amqp/amqp-channel.enum.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: + video store with get video logic
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/src/store/video/action.ts
  frontend/src/store/video/common.ts
  frontend/src/store/video/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/backend57 + user video history tested
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/shared/types/container-type-keys.ts
  shared/src/common/types/history/history-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Update rest-container-module.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Update types.ts
  backend/core/src/shared/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Update types.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js
