Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-205: * fix conflict resolve error
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-220: * fix color, first tab to display and allow to hide specific components for video card
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/pages/channel-page/channel-page.tsx
  frontend/src/pages/channel-page/components/video-section/channel-video-card/channel-video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-111: + swagger docs
  backend/core/src/primary-adapters/rest/user/user-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/backend-204: + added new column for model comment
  backend/core/prisma/migrations/20220902081827_add_parent_id_to_comment/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
  frontend/src/components/video-chat/comments.mock.ts
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  shared/src/common/types/comment/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-210: * fix conflicts and fix bug with z-index of sign-in modal
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/pages/video/channel-info-row/styles.module.scss
  frontend/src/pages/video/video-header/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-233: + route for delete all user history
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/shared/types/batch-payload/batch-payload.ts
  backend/core/src/shared/types/types.ts
  shared/src/common/enums/api/history-api-path.enum.ts
  shared/src/common/types/common/batch-payload.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-233: + store reducer service & action for delete all user history
  frontend/src/common/types/batch-payload/batch-payload.ts
  frontend/src/common/types/types.ts
  frontend/src/services/history/history-api.service.ts
  frontend/src/store/history/actions.ts
  frontend/src/store/history/common.ts
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-93: + property omit helper, stream status fix
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/omit-properties/omit-properties.helper.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: * moved form logic from stream container to modal
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/custom-select-styles.ts
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-basic-info-form/initial-form-values.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-basic-info-form/stream-basic-info-form-values.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-basic-info-form/stream-settings-form-values.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-modal.tsx
  frontend/src/pages/studio/common/stream-edit-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: * fixed stream page logic and added new action
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/stream/stream.ts
  frontend/src/pages/studio/stream/common/stream-info-form-values.ts
  frontend/src/pages/studio/stream/common/stream-settings-form-values.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/services/channel-streaming-api/channel-streaming-api.service.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/common.ts
  frontend/src/store/stream/reducer.ts
  shared/src/common/types/stream/stream-readiness-request-dto.type.ts
  shared/src/common/types/stream/stream.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-233: + delete all button
  frontend/src/pages/history-page/common/history-list/history-list.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-233: styles fix
  frontend/src/pages/history-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-93: * fixed namings and videoPath update
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/channel-streaming/port/channel-streaming-repository.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  frontend/src/services/channel-streaming-api/channel-streaming-api.service.ts
  shared/src/common/types/stream/stream-update-request-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-233: remove reducant ;
  frontend/src/pages/history-page/common/history-list/history-list.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

shared-93: - healthcheck in docker compose that was added by mistake
  .docker/docker-compose.yml
Due: npm run lint:fs

backend-93: - accidental findFirst instead of findUnique change
  backend/core/src/secondary-adapters/postgres/profile/profile-repositoty-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

shared-93: - accidental dependency in package.json
  package.json
Due: npm run lint:fs, prettier --write

shared-93: - accidental dependency in package.json
  shared/package.json
Due: npm run lint:fs, prettier --write

shared-93: * updated package-lock
  package-lock.json
Due: npm run lint:fs, prettier --write

shared-93: * fixed optional fields
  shared/src/common/types/stream/stream-update-request-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-93: * fixed variable errors
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-111: * fixed posterPath column default value, * removed unnecessary id param in get and bind user preferences routes
  backend/core/prisma/migrations/20220902165942_poster_path_fix/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  shared/src/common/enums/api/user-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * message length
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

push-93: * fixed queue variable extraction
  backend/video-transcoding-server/src/app.ts
Due: npm run lint:fs, prettier --write

frontend-206: * fix after merge
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/types/video/video-expanded-dto-before-trimming.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-211: + add auto-scroll to top on page switch and autoplay to video
  frontend/src/components/app/app.tsx
  frontend/src/components/app/scroll-to-top.tsx
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-111: * make category<>user relation explicit
  backend/core/prisma/migrations/20220902235727_add_category_user_many_to_many/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-111: * refactored get prefered categories and bind categories queries
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  backend/core/src/shared/types/user/user-get-preferences-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-93: + changed the way poster is uploaded
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  frontend/src/services/channel-streaming-api/channel-streaming-api.service.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/reducer.ts
  shared/src/common/types/stream/stream-update-request-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + stream settings modal improvements
  frontend/src/pages/studio/analytics/analytics.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/custom-select-styles.ts
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/stream-appearance-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/upload-stream-preview/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/upload-stream-preview/upload-stream-preview.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-settings-form-values.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tab-header/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tab-header/tab-header.tsx
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tab-info.ts
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tab.enum.ts
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tab/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tab/tab.tsx
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tabs.ts
  frontend/src/pages/studio/stream/stream-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-234: * auth forms styles
  frontend/src/assets/img/eye-slash.svg
  frontend/src/assets/img/eye.svg
  frontend/src/components/auth/components/common/auth-submit-btn/auth-submit-btn.tsx
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/password-input/password-input.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-234: * auth disabled btn bgc
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-93: * image upload improvements
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/stream-appearance-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/upload-stream-preview/upload-stream-preview.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

common-206: * socket config
  .github/workflows/deploy-dev.yml
  frontend/src/common/config/socket.ts
  frontend/src/common/enums/app/env.enum.ts
  package.json
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend-204: + added functional to comment
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/comment/index.ts
  shared/src/common/types/video/base-replies-response-dto.type.ts
  shared/src/common/types/video/base-reply-request-dto.type.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-232: display history bug fix
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend203 * add like dislike video comment
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend203 * add like dislike video comment
  frontend/src/components/video-chat/comments.mock.ts
  frontend/src/helpers/video/get-react-button-color.helper.ts
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  shared/src/common/types/comment/base-comment-reaction.ts
  shared/src/common/types/comment/index.ts
  shared/src/common/types/video/comment-reaction.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-93: + playback routes, streaming issues fixed
  .docker/docker-compose.local.yml
  .eslintrc.yml
  .gitignore
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/profile/profile-repositoty-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/pages/studio/analytics/analytics.tsx
  frontend/src/pages/studio/stream/stream-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-232: fix pr remarks
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
