Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-242: * fix package.json
  frontend/package.json
  package-lock.json
Due: npm run lint:fs, prettier --write

frontend-224: * fix update profile when username already exist
  frontend/src/components/common/input/input-component.tsx
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/store/profile/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-224: + ability to change username without first and last name
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-224: * remove reducant value from input component
  frontend/src/components/common/input/input-component.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-226: + text and background color style of duration label for search page card same as in main page video card
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-256: + added additional settings base and fixed modal styles
  backend/core/src/core/channel-streaming/application/dtos/cast-to-video-stream-response-dto.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/common/constants/stream/stream.ts
  frontend/src/components/common/select/index.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/custom-select-styles.ts
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tab/styles.module.scss
  frontend/src/pages/studio/stream/common/stream-additional-settings-form-values.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
  frontend/src/store/stream/actions.ts
  readme.md
  shared/src/common/types/stream/stream-update-request-dto.type.ts
  shared/src/common/types/stream/video-stream-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-275: + fixed history middleware creating record with invalid id
  backend/core/src/primary-adapters/rest/middleware/create-video-history-record.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-275: * fixed error thrown from middleware
  backend/core/src/primary-adapters/rest/middleware/create-video-history-record.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-275: + show 404 page on wrong id
  frontend/src/components/app/app.tsx
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-111: * refactored boolean casts
  frontend/src/components/common/preferences-modal/preferences-modal-container.tsx
  frontend/src/components/common/preferences-modal/preferences-modal.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend263 + chart component analytics page
  frontend/package.json
  frontend/src/pages/studio/analytics/index.ts
  frontend/src/pages/studio/analytics/line-chart/custom-line-chart.tsx
  frontend/src/pages/studio/analytics/line-chart/tooltip/custom-tooltip.tsx
  frontend/src/pages/studio/analytics/line-chart/tooltip/styles.module.scss
  package-lock.json
  package.json
  tsconfig.json
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/frontend263 + chart component analytics page
  frontend/src/pages/studio/analytics/line-chart/tooltip/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

task/frontend-278: + calculate function for number of skeleton
  frontend/src/components/common/video-skeleton/video-skeleton.config.ts
  frontend/src/components/common/videos-block/videos-block.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-110: + emoji component
  frontend/src/assets/css/components/default-emoji.scss
  frontend/src/assets/css/styles.scss
  frontend/src/components/common/common.ts
  frontend/src/components/common/emoji/config.ts
  frontend/src/components/common/emoji/emoji.tsx
  frontend/src/components/common/emoji/styles.module.scss
  frontend/src/components/common/text-with-emoji/styles.module.scss
  frontend/src/components/common/text-with-emoji/text-with-emoji.tsx
  frontend/src/helpers/emoji/emoji.ts
  frontend/src/helpers/emoji/get-emoji-cdn-url.helper.ts
  frontend/src/helpers/helpers.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-110: + add emoji to chat
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.tsx
  frontend/src/components/video-chat/config.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-110: * fix text-with-emoji
  frontend/src/components/common/text-with-emoji/text-with-emoji.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-110: * send message comp
  frontend/src/components/video-chat/components/send-message/send-message.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-110: * emoji default
  frontend/src/assets/css/components/default-emoji.scss
  frontend/src/components/common/emoji/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

fixed number of displaying videos on main page
  frontend/src/pages/main-page/main-page-number-of-videos-loading.config.ts
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-110: + emoji to comments
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-173: + horizontal scroll
  frontend/package.json
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
  frontend/src/store/categories/actions.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontetend-173: * fix packege.json
  frontend/package.json
Due: npm run lint:fs, prettier --write

frontend-110: * set fixed package version
  frontend/package.json
Due: npm run lint:fs, prettier --write

frontend-261: * fix display input error
  frontend/src/components/common/input/input-component.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-261: + first last name validation
  frontend/src/components/common/input/input-component.tsx
  shared/src/common/enums/profile/profile-change-validation-message.ts
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-261: * fix email latin symbol validation
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/account-verification-page/send-verification-link-form/send-verification-link-form.tsx
  shared/src/validation-schemas/user/password-creation-schema.ts
  shared/src/validation-schemas/user/user-sign-in-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-261: + username validation
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-261: + validation channel name and description
  shared/src/common/enums/channel/channel-profile-change-validation-message.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-261: * fix display channel description validation error
  frontend/src/components/common/text-area/styles.module.scss
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/pages/studio/channel/common/styles.module.scss
  shared/src/common/enums/channel/channel-profile-change-validation-message.ts
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-261: * fix first last name can be empty
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-274: * video live label
  frontend/src/assets/img/online-streaming-2.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-279: * fix tooltip error
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.ts
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/common/tooltip/tooltip.tsx
  frontend/src/components/notification-dropdown/notification-dropdown.tsx
  frontend/src/pages/studio/common/sidebar/sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-226: * fix duration label background color
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-279: * hide tip on open sidebar
  frontend/src/components/common/sidebar/sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-269: + chat style enum
  frontend/src/common/enums/component/chat-style.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/video-chat/config.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-269: + chat green styles
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.module.scss
  frontend/src/components/video-chat/components/video-comment/video-comment.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-269: * apply green style for stream
  frontend/src/pages/studio/stream/stream.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frotntend: * fix user avatar background
  frontend/src/components/common/header/header.module.scss
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:css

frontned: * fix dropdown padding
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend: * change sun icon
  frontend/src/assets/img/sun-solid.svg
Due: npm run lint:fs

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
