Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

frontend-41: * style conflicts fixed
  frontend/src/components/common/send-message/send-message.module.scss
  frontend/src/components/common/send-message/send-message.tsx
  frontend/src/components/common/video-card/styles.module.scss
  frontend/src/components/not-found-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-42: * fix subscribtion
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
  backend/core/src/primary-adapters/rest/channel/channel.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/components/video-chat/comments.mock.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-69: + reducer for theme switch
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/theme-switch/actions.ts
  frontend/src/store/theme-switch/common.ts
  frontend/src/store/theme-switch/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/backend57 * implement user video history
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: + basic video page
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend79 * horizontal scrollbar signin signup pages
  frontend/src/assets/css/scrollbar.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-42: + grid to video page style
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/pages/video/common/helper/get-react-btn-color.ts
  frontend/src/pages/video/common/helper/helper.ts
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/services/channel/channel-api-service.ts
  frontend/src/store/video/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-42: * fix reaction adding
  backend/core/src/core/video/aplication/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/video/create-add-reaction-response.ts
  backend/core/src/shared/helpers/video/create-video-base-response.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * user validation enums
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * use-app-form hook
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * notification type
  frontend/src/common/types/notifications/notification-params.type.ts
  frontend/src/common/types/notifications/notifications.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/notifications/notification.tsx
  frontend/src/components/common/notifications/notifications.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * auth notifications config
  frontend/src/components/auth/config/auth-notification/auth-notification-icon-name.config.ts
  frontend/src/components/auth/config/auth-notification/auth-notification-message.config.ts
  frontend/src/components/auth/config/auth-notification/auth-notification-title.config.ts
  frontend/src/components/auth/config/auth-notification/auth-notification-type.config.ts
  frontend/src/components/auth/config/auth-notification/auth-notification.config.ts.ts
  frontend/src/components/auth/config/auth-notification/auth-notification.ts
  frontend/src/components/auth/config/config.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * sign up page
  frontend/src/components/auth/sign-up-page.tsx
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

shared-42: + response & request type for create video comment
  shared/src/common/types/channel/channel-base-response.ts
  shared/src/common/types/video/create-reaction-response-dto.ts
  shared/src/common/types/video/video-base-response.ts
  shared/src/common/types/video/video-coment-response-dto.ts
  shared/src/common/types/video/video-comment-request-dto.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: + finished implementing notifications
  dist/styles/styles.module.css
  dist/styles/styles.module.css.map
  frontend/src/common/types/notification/notification.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/notification-dropdown/components/components.ts
  frontend/src/components/notification-dropdown/components/notification/message-notification.tsx
  frontend/src/components/notification-dropdown/components/notification/new-stream-notification.tsx
  frontend/src/components/notification-dropdown/components/notification/styles.module.scss
  frontend/src/components/notification-dropdown/notification-dropdown-container.tsx
  frontend/src/components/notification-dropdown/notification-dropdown.tsx
  frontend/src/components/notification-dropdown/styles.module.scss
  frontend/src/services/notification/notification.service.ts
  frontend/src/store/notification/reducer.ts
  shared/src/common/types/notification/notification-message-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-29: ContinueWithParagraph naming fix
  frontend/src/components/auth/components/common/common.ts
  frontend/src/components/auth/components/common/continue-with-paragraph/continue-with-paragraph.tsx
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: - autogenerated dist folder
  dist/styles/styles.module.css
  dist/styles/styles.module.css.map
Due: npm run lint:fs

frontend-29: * logout/signout/register/signup naming fix
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/common/header/header-container.tsx
  frontend/src/services/http/interceptors/refresh-token-interceptor.ts
  frontend/src/store/auth/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: * login/signin naming fix
  frontend/src/components/auth/components/auth-container/auth-container.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/auth/sign-in-page.tsx
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: + add comment logic
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/video/aplication/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/video/create-video-base-response.ts
  backend/core/src/shared/helpers/video/crete-comment-response.ts
  backend/core/src/shared/helpers/video/types/comment.ts
  backend/core/src/shared/helpers/video/types/types.ts
  backend/core/src/shared/helpers/video/video.ts
  backend/core/src/shared/types/channel/channel.ts
  backend/core/src/shared/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-29: * recreated package-lock
  package-lock.json
Due: npm run lint:fs, prettier --write

frontend-29: * notif style fix
  frontend/src/components/notification-dropdown/components/notification/new-stream-notification.tsx
  frontend/src/components/notification-dropdown/components/notification/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-69: + logic for theme switch
  frontend/src/assets/css/scaffolding.scss
  frontend/src/common/enums/app/app-theme.enum.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-86: * shared user enum
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: * fix add coment username
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/video/crete-comment-response.ts
  backend/core/src/shared/helpers/video/types/comment.ts
  backend/core/src/shared/helpers/video/types/create-base-vide-response-input.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: + get channel data by id & add video comment
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/send-message/send-message.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/services/channel/channel-api-service.ts
  frontend/src/services/video/video-api-service.ts
  frontend/src/store/actions.ts
  frontend/src/store/channel/action.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/video/action.ts
  frontend/src/store/video/common.ts
  frontend/src/store/video/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

shared-42: * video commnet request
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/video/video-comment-request-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-86: * shared user enum
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/refresh-password-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * video page styles
  frontend/src/pages/not-found-page/styles.module.css
  frontend/src/pages/not-found-page/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-42: + swager documentation for video controller
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * fix get video id from route on video page
  frontend/src/components/common/video-card/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-86: + input invalid styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/errors/error-box/error-box.module.scss
  frontend/src/components/common/input/input-component.tsx
  frontend/src/components/common/input/password-input/password-input.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-69: + inverse styles for main page
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/store/theme-switch/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-42: * fix build error
  backend/core/src/shared/helpers/video/crete-comment-response.ts
  backend/core/src/shared/types/video/video.ts
  frontend/src/common/types/video/video.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/store/video/action.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-49: + matcher for ffmpeg command preset, * refactored code accroding to previous paragraph
  backend/video-transcoding-server/src/app.ts
  backend/video-transcoding-server/src/core/ffmpeg-process.ts
  backend/video-transcoding-server/src/core/index.ts
  backend/video-transcoding-server/src/core/init-store.ts
  backend/video-transcoding-server/src/helpers/create-master-playlist.ts
  backend/video-transcoding-server/src/helpers/ffmpeg-preset-matcher.ts
  backend/video-transcoding-server/src/shared/enums/enums.ts
  backend/video-transcoding-server/src/shared/enums/process/ffmpeg-process-preset.enum.ts
Due: npm run lint:fs, prettier --write

frontend-69: * init state of theme from localstorage
  frontend/src/store/theme-switch/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * corrected PR remarks
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/video/create-add-reaction-response.ts
  backend/core/src/shared/helpers/video/create-video-base-response.ts
  backend/core/src/shared/helpers/video/types/create-base-vide-response-input.type.ts
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/helpers/user/get-full-username.ts
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/store/video/reducer.ts
  shared/src/common/types/video/create-reaction-response-dto.ts
  shared/src/common/types/video/video-base-response.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-86: * passwordConfirm
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  frontend/src/components/auth/components/sign-up-form/common.ts
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  shared/src/common/types/user/user-sign-up-request-dto.type.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-28: + added video adapters
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/core/video/video-container-module.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/container-type-keys.ts
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/common/videos-block/videos.mock.ts
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css
