Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

frontend-295: + first fix batch
  .docker/debug/docker-compose.debug.yml
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/input/area-input/styles.module.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/portal/styles.module.scss
  frontend/src/components/common/toggle-switch/toggle-switch.tsx
  frontend/src/helpers/categories/categories.ts
  frontend/src/helpers/categories/pretty-display-category-name.ts
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/stream/index.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream/categories-display.tsx
  frontend/src/pages/studio/stream/stream/chat-toggle.tsx
  frontend/src/pages/studio/stream/stream/privacy-display.tsx
  frontend/src/pages/studio/stream/stream/privacy-selector.tsx
  frontend/src/pages/studio/stream/stream/stream.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/store/categories/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-305: * fix emoji adding
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-271: + migrations to make possibility to cascade delete video + delete video by id and get videos by author routes
  backend/core/prisma/migrations/20220914001458_add_cascade_delete_for_relations/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/core/video/application/dtos/cast-to-video-info.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/video-with-reactions-and-comments-dto.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/video/video-privacy.enum.ts
  shared/src/common/enums/video/video-status.enum.ts
  shared/src/common/enums/video/video.ts
  shared/src/common/types/video/update-video-info-dto.ts
  shared/src/common/types/video/update-video-visibillity-dto.ts
  shared/src/common/types/video/video-info-dto.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-295: + second improvements batch
  frontend/src/assets/img/close.svg
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/portal/portal.ts
  frontend/src/components/common/video-player/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
  frontend/src/pages/studio/stream/stream/stream.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-271: + update privacy and video info routes
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/primary-adapters/rest/video/helpers/string-to-enum-helper.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  shared/src/common/enums/api/video-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend264 + implement studio analytics page layout
  frontend/.env.example
  frontend/src/components/app/app.tsx
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/studio/analytics/analytics.tsx
  frontend/src/pages/studio/analytics/index.ts
  frontend/src/pages/studio/analytics/line-chart/custom-line-chart.tsx
  frontend/src/pages/studio/analytics/line-chart/mock-helper/mock-helper.ts
  frontend/src/pages/studio/analytics/line-chart/types/types.ts
  frontend/src/pages/studio/analytics/periods/periods.tsx
  frontend/src/pages/studio/analytics/periods/styles.module.scss
  frontend/src/pages/studio/analytics/statistics-block/statistics-block.tsx
  frontend/src/pages/studio/analytics/statistics-block/styles.module.scss
  frontend/src/pages/studio/analytics/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/followers/followers-tab.tsx
  frontend/src/pages/studio/analytics/tabs/followers/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-button/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-button/tab-button.tsx
  frontend/src/pages/studio/analytics/tabs/tab-header/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-header/tab-header.tsx
  frontend/src/pages/studio/analytics/tabs/tab-info.ts
  frontend/src/pages/studio/analytics/tabs/tab.ts
  frontend/src/pages/studio/analytics/tabs/views/constants.ts
  frontend/src/pages/studio/analytics/tabs/views/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/views/views-tab.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-300: - stream going public on live
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-295: * preview when obs is not connected
  frontend/src/pages/studio/stream/stream/stream.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-271: - unnecessary not null checks from video service, * renamed string to video privacy enum helper
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/primary-adapters/rest/video/helpers/string-to-video-privacy-helper.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: + video stats schema
  backend/core/prisma/migrations/20220914071907_add_video_statistic_model/migration.sql
  backend/core/prisma/schema.prisma
Due: npm run lint:fs

backend-265: + video stats seeds
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend-264 + implement studio analytics page layout
  frontend/src/pages/studio/analytics/statistics-block/statistics-block.tsx
  frontend/src/pages/studio/analytics/statistics-block/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/views/views-tab.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/frontend-264 + add studio analytics page layout
  frontend/src/pages/studio/analytics/periods/periods.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

fix production credentials
  .github/workflows/deploy-prod.yml
Due: npm run lint:fs

frontend-299: * fix stream settings page style
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-295: * fix some styles
  .docker/debug/backend-debug.Dockerfile
  .docker/debug/frontend-debug.Dockerfile
  frontend/src/pages/studio/stream/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-265: + channel stats schema
  backend/core/prisma/migrations/20220914084306_add_channel_statistic_model/migration.sql
  backend/core/prisma/schema.prisma
Due: npm run lint:fs

backend-265: + channel stats seeds
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix channel banner editor scroll
  frontend/src/components/common/channel-banner-editor/channel-baner-editor.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-310: + add update-item helper
  frontend/src/helpers/array/update-item-if-exists.helper.ts
  frontend/src/helpers/helpers.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-310: + update channel subs count
  frontend/src/components/search/components/channel-card/channel-card.tsx
  frontend/src/store/search/actions.ts
  frontend/src/store/search/common.ts
  frontend/src/store/search/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-310: + upd channel subs count on it page
  frontend/src/pages/channel-page/components/channel-header/subscribe/subscribe.tsx
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-311: * fixed bug related with broken tab switch on browse page
  frontend/src/helpers/categories/categories.ts
  frontend/src/helpers/categories/ugly-display-category-name.ts
  frontend/src/pages/browse-page/browse-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: removed not implemented features
  frontend/src/components/common/header/header.tsx
  frontend/src/pages/studio/home/home.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: * fix preferences modal overflow
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/preferences-modal/preferences-modal.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend306 + preferences modal improvings
  frontend/src/components/common/preferences-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

task/frontend312 + implement enpoint permission for start streaming
  backend/core/prisma/migrations/20220915082203_add_user_stream_permission/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed-data/users.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  frontend/src/components/common/common.ts
  frontend/src/components/common/request-modal/request-modal.tsx
  frontend/src/components/common/request-modal/styles.module.scss
  frontend/src/pages/studio/home/home-container.tsx
  frontend/src/pages/studio/home/styles.module.scss
  shared/src/common/enums/api/user-api-path.enum.ts
  shared/src/common/enums/user/stream-permission.enum.ts
  shared/src/common/enums/user/user.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-265: * video-stats seed acc. to existed db data
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-261: * fix profile and channel validation
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
  frontend/src/pages/studio/channel/common/channel-settings-form.tsx
  frontend/src/pages/studio/channel/common/styles.module.scss
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-265: + source to models
  backend/core/prisma/migrations/20220914071907_add_video_statistic_model/migration.sql
  backend/core/prisma/migrations/20220914084306_add_channel_statistic_model/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-271: + basic markup for content page
  frontend/src/assets/img/content.svg
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/pages/studio/common/sidebar/config.ts
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/index.ts
  frontend/src/pages/studio/content/styles.module.scss
  frontend/src/pages/studio/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-320: * fix stream settings save
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-320: * remove overflow hidden
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

tests: + types packages
  package-lock.json
  tests/package.json
Due: npm run lint:fs, prettier --write

tests: + .mocharc.json
  tests/.mocharc.json
Due: npm run lint:fs, prettier --write

tests: * appConfig
  tests/tests/api/config/dev.config.ts
Due: npm run lint:fs, prettier --write

tests: * api_tests
  tests/tests/api/lib/controllers/auth.controller.ts
  tests/tests/api/lib/controllers/history.controller.ts
  tests/tests/api/lib/controllers/users.controller.ts
  tests/tests/api/lib/controllers/videos.controller.ts
  tests/tests/api/lib/request.ts
  tests/tests/api/specs/autorization_api-test.ts
  tests/tests/api/specs/positive_api-test.ts
  tests/tests/helpers/functionsForChecking.helpers.ts
Due: npm run lint:fs, prettier --write

frontend-271: * fixed some styles, + redux store for content page
  frontend/src/assets/css/scaffolding.scss
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/component/content-page-menu-options.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/config.ts
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/styles.module.scss
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/content-page/actions.ts
  frontend/src/store/content-page/common.ts
  frontend/src/store/content-page/reducer.ts
  frontend/src/store/root-reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/backend-313: + implement new logic for sorting video and infinity scroll
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-271: */+ implemented checkbox logic, + extended menu for many videos at one time editing
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/styles.module.scss
  frontend/src/store/content-page/actions.ts
  frontend/src/store/content-page/common.ts
  frontend/src/store/content-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css
