Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-173: hide filter block on main page loading
  frontend/src/components/common/filters-block/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-173: * small horizontal scroll arrow animation fix
  frontend/src/components/common/vertical-scroll/style.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-276: * fix clear all button styles
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotend-290: * change live indicator in video player
  frontend/src/components/common/common.ts
  frontend/src/components/common/live-indicator/live-indicator.tsx
  frontend/src/components/common/live-indicator/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/live-indicator.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-296: + logic to fetch prefered categories on browse page, * fixed some slider button styles
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/store/categories/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-296: * now fetching categories from store on reload
  frontend/src/pages/browse-page/browse-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

add production environement
  .docker/docker-compose.prod.yml
  .docker/frontend.prod.Dockerfile
  .github/workflows/deploy-prod.yml
  backend/video-transcoding-server/.env.example
  backend/video-transcoding-server/src/core/ffmpeg-process.ts
  backend/video-transcoding-server/src/services/amqp/amqp-service.ts
  backend/video-transcoding-server/src/services/stream/streaming-service.ts
  nginx/nginx.prod.conf
  nginx/nginx.rtmp.conf
Due: npm run lint:fs, prettier --write

fix production env
  .github/workflows/deploy-prod.yml
Due: npm run lint:fs

change hardcoded hostname
  frontend/src/common/constants/stream/stream.ts
  frontend/src/helpers/user/get-google-url.ts
  frontend/src/pages/studio/stream/stream-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-297: * fixed some mismatch with figma mockup for video cards on search page
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-258: + edit comment to form
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

remove inconsistent values
  .github/workflows/deploy-dev.yml
  frontend/src/common/constants/stream/stream.ts
  frontend/src/helpers/user/get-google-url.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  nginx/nginx.rtmp.conf
Due: npm run lint:fs, prettier --write, npm run lint:js

remove unneed github actions event
  .github/workflows/deploy-prod.yml
Due: npm run lint:fs

frontend-285: channel studio cahnnel page fix
  frontend/src/assets/img/default-channel-banner.jpg
  frontend/src/pages/studio/channel/channel.tsx
  frontend/src/pages/studio/channel/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-301: - unused helper
  frontend/src/helpers/user/get-google-url.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-301: * replaced hardcoded website url
  backend/core/prisma/seed-data/videos.ts
  frontend/src/common/constants/stream/stream.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/user/index.ts
  frontend/src/pages/studio/stream/stream-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

tests-301: + dotenv config
  package-lock.json
  tests/package.json
  tests/tests/api/config/dev.config.ts
  tests/tests/api/specs/autorization_api-test.ts
  tests/tests/api/specs/positive_api-test.ts
  tests/tests/config/config.ts
Due: npm run lint:fs, prettier --write

tests-301: + .env.example file
  tests/.env.example
Due: npm run lint:fs

added new logic for recommended and general video block
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/videos/reducer.ts
  shared/src/common/types/video/video-response-query-raw.dto.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix live label
  frontend/src/components/common/live-indicator/live-indicator.tsx
  frontend/src/components/common/video-player/video-player-controls/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-301: + rtmp host env variable, renamed push_host to server_post
  .docker/debug/frontend-debug.Dockerfile
  .docker/frontend.Dockerfile
  .env.example/client.env.example
  .github/workflows/deploy-dev.yml
  frontend/.env.example
  frontend/src/common/config/socket.ts
  frontend/src/common/constants/stream/stream.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  package.json
  readme.md
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-258: * fix trimcomment in service
  backend/core/src/core/comment/application/comment-service.ts
  backend/core/src/primary-adapters/rest/comment/comment-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-258: * comment deleted status
  frontend/src/pages/video/common/comment-block/comment-component.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-285: * channel banner size
  frontend/src/pages/studio/channel/channel.tsx
  frontend/src/pages/studio/channel/common/channel-images-component/channel-images.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-271: + cascade delete for channel relation in video model
  backend/core/prisma/migrations/20220913194120_add_video_cascade_delete/migration.sql
  backend/core/prisma/schema.prisma
Due: npm run lint:fs

common-301: * updated package-lock
  package-lock.json
Due: npm run lint:fs, prettier --write

common-301: + new env variable in frontend debug
  .docker/debug/frontend-debug.Dockerfile
Due: npm run lint:fs

frontend-301: + updated .env.example
  .env.example/client.env.example
  frontend/.env.example
Due: npm run lint:fs

frontend-285: * fix channel banner
  frontend/src/pages/studio/channel/channel.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-285: * fix text error
  frontend/src/pages/studio/channel/common/channel-images-component/channel-images.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-293: * fix pr remarks
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/search-by-categories-response.dto.type.ts
  backend/core/src/shared/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fixed styles for main page
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/videos-block/videos-block.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-198: * fix profile image
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/user-avatar-or-initials/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fixed bug relate with declaration local helper
  backend/core/src/shared/helpers/trim-video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-301: * renamed env variable, removed rtmp port, added env vars to prod build
  .docker/debug/frontend-debug.Dockerfile
  .docker/frontend.Dockerfile
  .docker/frontend.prod.Dockerfile
  .env.example/client.env.example
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  frontend/.env.example
  frontend/src/common/config/socket.ts
  frontend/src/common/constants/stream/stream.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  package.json
  readme.md
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-301: * fix production env variables
  .github/workflows/deploy-prod.yml
Due: npm run lint:fs

frontend-261: * fix wrong validation message
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend303: * fix chat-block overlay
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-293: * fix build error
  frontend/src/components/common/videos-block/videos-block.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-282: * fix history page skeleton size
  frontend/src/pages/history-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
