Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

frontend-90: * route fix and navigation check helpers
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/routes/is-route-have-header.ts
  frontend/src/helpers/routes/is-router-has-header/is-route-has-header.helper.ts
  frontend/src/helpers/routes/is-router-has-studio-header/is-route-has-studio-header.helper.ts
  frontend/src/helpers/routes/routes.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-90: + studio homepage
  frontend/src/assets/img/tv.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/app/app.module.scss
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/studio/common/sidebar/config.ts
  frontend/src/components/studio/common/sidebar/index.ts
  frontend/src/components/studio/common/sidebar/sidebar.tsx
  frontend/src/components/studio/common/sidebar/styles.module.scss
  frontend/src/components/studio/home/home.tsx
  frontend/src/components/studio/home/index.ts
  frontend/src/components/studio/home/styles.module.scss
  frontend/src/components/studio/index.ts
  frontend/src/components/studio/sidebar/styles.module.scss
  frontend/src/components/studio/studio/index.ts
  frontend/src/components/studio/studio/studio.tsx
  frontend/src/components/studio/studio/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-90: + button style fix
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/errors/error-box/error-box.module.scss
  frontend/src/components/studio/home/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-90: + protected route
  frontend/src/components/app/app.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-90: + channel and analytics page placeholder
  frontend/src/components/app/app.tsx
  frontend/src/components/studio/channel/channel.tsx
  frontend/src/components/studio/channel/index.ts
  frontend/src/components/studio/channel/styles.module.scss
  frontend/src/components/studio/home/home.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * header
  frontend/src/components/common/header/config.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/helpers.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: + mobile search input
  frontend/src/assets/img/arrow-left.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * search page
  frontend/src/components/search/search.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + base for streaming page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/studio/channel/index.ts
  frontend/src/components/studio/stream/index.ts
  frontend/src/components/studio/stream/stream.tsx
  frontend/src/components/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-90: * fixed z-index for notifications
  frontend/src/components/notification-dropdown/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-50: + user avatar in header
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-50: * fix package-lock.json
  package-lock.json
Due: npm run lint:fs, prettier --write

frontend-50: regenerate package-lock.json
  package-lock.json
Due: npm run lint:fs, prettier --write

backend-49: * fixed video transcoding server dockerfile naming in workflows
  .github/workflows/deploy-dev.yml
Due: npm run lint:fs

frontend-78: + comp. update delay time enum
  frontend/src/common/enums/component/component-update-delay-time.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/enums.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-49: * fixed naming in deploy job
  .github/workflows/deploy-dev.yml
Due: npm run lint:fs

frontend-78: + video helpers
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/video/get-divided-views-string.helper.ts
  frontend/src/helpers/video/get-format-duration-string.helper.ts
  frontend/src/helpers/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-49: * fixed naming video-transcoding-server image in docker-compose.dev.yml
  .docker/docker-compose.dev.yml
Due: npm run lint:fs

frontend-78: * video cards with updateTimer
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-100: * replaced font to fix line height issue on different OS
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/font/Gilroy-Medium.ttf
  frontend/src/assets/font/Gilroy-Medium.woff
  frontend/src/assets/font/Gilroy-Regular.ttf
  frontend/src/assets/font/Gilroy-Regular.woff
  frontend/src/assets/font/Gilroy-SemiBold.ttf
  frontend/src/assets/font/Gilroy-SemiBold.woff
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-100: * refactored the header styles
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-100: * fixed burger menu size
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: + icons
  frontend/src/assets/img/arrow-left.svg
  frontend/src/assets/img/bell-outline.svg
  frontend/src/assets/img/online-streaming.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: * enums & types
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/component/component-update-delay-time.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/component/video-tag-name.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/stream/stream.ts
  shared/src/common/enums/stream/streaming-status.enum.ts
  shared/src/common/types/components/video-card/video-card.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: + video card main
  frontend/src/components/common/common.ts
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * redirect replace
  frontend/src/components/auth/sign-up-page.tsx
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontned-42: * fix pr remarks
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/video/aplication/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
  backend/core/src/primary-adapters/rest/middleware/authentication-middleware.ts
  backend/core/src/primary-adapters/rest/middleware/optional-auth-middleware.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/auth/optional-auth-routes.enum.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/path/index.ts
  backend/core/src/shared/helpers/path/remove-params-from-route-path.ts
  backend/core/src/shared/types/express/extended-request.ts
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: * auth pages styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/common/continue-with-paragraph/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * search video card
  frontend/src/common/enums/enums.ts
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * video card styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-78: * header styles
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-28: * added video load functional
  backend/core/prisma/migrations/20220821153816_update_model_video_and_channel/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed-data/channels.ts
  backend/core/prisma/seed-data/videos.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/video/video.ts
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/services/video-api/video-api.service.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/video/base-video-response-dto.type.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: * addional fix pr remarks
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: fix typo & update swagger documentation for channel and video controllers
  backend/core/src/primary-adapters/rest/channel/channel-controller.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-69: + toggle component * fixed some styles
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/component/user-menu-options.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/common/common.tsx
  frontend/src/components/common/confirmation-modal/styles.module.scss
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/toggle-switch/index.ts
  frontend/src/components/common/toggle-switch/styles.module.scss
  frontend/src/components/common/toggle-switch/toggle-switch.tsx
  frontend/src/components/notification-dropdown/components/notification/styles.module.scss
  frontend/src/components/notification-dropdown/styles.module.scss
  frontend/src/store/theme-switch/actions.ts
  frontend/src/store/theme-switch/common.ts
  frontend/src/store/theme-switch/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-28: + implemented main page
  frontend/src/components/common/video-skeleton/styles.module.scss
  frontend/src/components/common/video-skeleton/video-skeleton.config.ts
  frontend/src/components/common/video-skeleton/video-skeleton.tsx
  frontend/src/components/common/videos-block/videos-block.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/common/videos-block/videos.mock.ts
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/main-page/main-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-28: + implemented main page
  package-lock.json
  package.json
Due: npm run lint:fs, prettier --write

backend-103: * fix email case sensivity
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js
