Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-93: * fixed queue naming in core server for preview erasing event
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-93: * fixed wrong amqp queue assertion in transcoder
  backend/video-transcoding-server/src/config/amqp-connection.ts
Due: npm run lint:fs, prettier --write

fix: + initial docker files
  .docker/debug/backend-debug.Dockerfile
  .docker/debug/docker-compose.debug.yml
  .docker/debug/frontend-debug.Dockerfile
  .dockerignore
Due: npm run lint:fs

backend-207: + replaced oauth2 with app password for mail
  .env.example/api.env.example
  backend/core/src/configuration/config.ts
  backend/core/src/secondary-adapters/nodemailer/mail-transport.ts
  backend/core/src/secondary-adapters/nodemailer/mail/mail-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-207: + fixed env examples
  .env.example/api.env.example
  backend/core/.env.example
Due: npm run lint:fs

backend-93: * refactored restart ffmpeg process logic, - unused dependency * fixed bug when socket subscribes on events before server connected to amqp
  backend/push/src/server.ts
  backend/video-transcoding-server/package.json
  backend/video-transcoding-server/src/core/index.ts
  backend/video-transcoding-server/src/core/init-store.ts
  backend/video-transcoding-server/src/helpers/create-master-playlist.ts
  backend/video-transcoding-server/src/services/fs/fs-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend235 * block changes size auth page
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/password-input/password-input.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend: * redesign page
  frontend/src/assets/css/helpers/hide-scrollbar.scss
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/arrow-circle-left.svg
  frontend/src/assets/img/arrow-circle-right.svg
  frontend/src/pages/following-page/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/block-container/block-container.tsx
  frontend/src/pages/following-page/tabs/overview/block-container/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/live-block/live-block.tsx
  frontend/src/pages/following-page/tabs/overview/offline-block/offline-block.tsx
  frontend/src/pages/following-page/tabs/overview/scrollable-videos-list/scrollable-videos-list.tsx
  frontend/src/pages/following-page/tabs/overview/scrollable-videos-list/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/see-more-card/see-more-card.tsx
  frontend/src/pages/following-page/tabs/overview/see-more-card/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/videos-list/header/header.tsx
  frontend/src/pages/following-page/tabs/overview/videos-list/header/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/videos-list/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/videos-list/videos-list.tsx
  frontend/src/pages/following-page/tabs/tab-button/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/styles.module.scss
  frontend/src/services/http/http.service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-236: + hover smooth animation
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
  frontend/src/components/sidebar/channel/channel.module.scss
  frontend/src/pages/studio/common/sidebar/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend: + correct buttons
  frontend/src/pages/following-page/tabs/overview/live-block/live-block.tsx
  frontend/src/pages/following-page/tabs/overview/offline-block/offline-block.tsx
  frontend/src/pages/following-page/tabs/overview/videos-list/videos-list.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: * fix light theme issue
  frontend/src/assets/css/scaffolding.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-64: + tooltips for header control button and side bar
  frontend/package.json
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/notification-dropdown/notification-dropdown.tsx
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-64: + tooltrips for side bar in studio app
  frontend/src/pages/studio/common/sidebar/sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-64: * fix package.json
  package-lock.json
Due: npm run lint:fs, prettier --write

backend-149: * fix build error
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend-222: + implemented lazy loading on main page
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/package.json
  frontend/src/components/app/app.tsx
  frontend/src/components/common/videos-block/videos-block.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
  package-lock.json
  shared/src/common/types/video/base-video-response-dto.type.ts
  shared/src/common/types/video/video-queries-params.dto.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

docker: + set up basic working environment
  .docker/debug/backend-debug.Dockerfile
  .docker/debug/docker-compose.debug.yml
  .docker/debug/frontend-debug.Dockerfile
  .docker/debug/nginx-debug.Dockerfile
  nginx/nginx.debug.conf
Due: npm run lint:fs

frontend-64: * pr remark fix
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/common/tooltip/tooltip.config.ts
  frontend/src/components/common/tooltip/tooltip.tsx
  frontend/src/pages/studio/common/sidebar/sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-64: * aditional pr remarks fix
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-64: tooltip config ussage fix
  frontend/src/components/common/tooltip/tooltip.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-222: * Made the package version fixed
  frontend/package.json
Due: npm run lint:fs, prettier --write

backend-257: * header search
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-257: * edit search text indexes
  backend/core/prisma/migrations/20220906172246_add_full_text_search_to_channel/migration.sql
  backend/core/prisma/migrations/20220907024401_update_full_text_search_to_video/migration.sql
Due: npm run lint:fs

backend-257: + relevate order, * search query
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/search/get-search-query-split.helper.ts
  backend/core/src/shared/helpers/search/search.ts
  backend/core/src/shared/types/channel/channel-search-query.type.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-257: * search input text
  frontend/src/store/search/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

added new preloader for uploading videos
  frontend/src/components/common/videos-block/videos-block.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-111: + recover progress
  frontend/src/components/app/app.tsx
  frontend/src/components/app/tests/preferences-modal/preferences-modal.tsx
  frontend/src/components/common/preferences-modal/common/category-block.tsx
  frontend/src/components/common/preferences-modal/common/category-card.tsx
  frontend/src/components/common/preferences-modal/common/styles.module.scss
  frontend/src/components/common/preferences-modal/preferences-modal.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/store/actions.ts
  frontend/src/store/preferences/actions.ts
  frontend/src/store/preferences/common.ts
  frontend/src/store/preferences/reducer.ts
  frontend/src/store/root-reducer.ts
  package.json
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend260 * channel banner not fit space
  frontend/src/pages/channel-page/components/banner-section/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

fix/frontend262 * stream preview image not displayed
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/stream-appearance-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/upload-stream-preview/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/upload-stream-preview/upload-stream-preview.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/backend-222: fixed filtration for videos
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: * fix video page bugs and improve recommendations look
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/video-tag/styles.module.scss
  frontend/src/components/common/video-tag/video-tag.tsx
  frontend/src/components/search/components/common/common.tsx
  frontend/src/components/search/components/video-card/components/meta-data-video/meta-data-video.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/rec-video-card/rec-video-card.tsx
  frontend/src/pages/video/links-block/rec-video-card/styles.module.scss
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend: * fix conflicts
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-213: * fix remarks
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/see-more-card/styles.module.scss
  frontend/src/pages/history-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-242: fix banner editor
  frontend/package.json
  frontend/src/components/common/channel-banner-editor/channel-baner-editor.tsx
  frontend/src/components/common/channel-banner-editor/styles.module.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/helpers/channel-banner-editor-size/get-channel-banner-editor-size.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/image/create-image.ts
  frontend/src/helpers/image/get-cropped-image.ts
  frontend/src/helpers/image/image.ts
  frontend/src/pages/studio/channel/channel.tsx
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-110: + emoji package
  frontend/package.json
  package-lock.json
Due: npm run lint:fs, prettier --write

frontend-110: + smile icon
  frontend/src/assets/img/smile-2.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-211: + fix selects display in chrome
  .docker/debug/docker-compose.debug.yml
  .docker/debug/frontend-debug.Dockerfile
  .dockerignore
  frontend/src/assets/img/circle-empty-inside.svg
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-111: * refactored component structure, + preferences service * refactored preferences store
  frontend/src/components/app/app.tsx
  frontend/src/components/app/tests/preferences-modal/preferences-modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/preferences-modal/common/category-block.tsx
  frontend/src/components/common/preferences-modal/common/category-card.tsx
  frontend/src/components/common/preferences-modal/common/styles.module.scss
  frontend/src/components/common/preferences-modal/preferences-modal-container.tsx
  frontend/src/components/common/preferences-modal/preferences-modal.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/helpers/array/push-or-delete-if-exists-helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/services/preferences-api/preferences-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/preferences/actions.ts
  frontend/src/store/preferences/common.ts
  frontend/src/store/preferences/reducer.ts
  frontend/src/store/store.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontned-242: + validation image by resolution
  frontend/src/components/common/channel-banner-editor/channel-baner-editor.tsx
  frontend/src/components/common/channel-banner-editor/styles.module.scss
  frontend/src/components/common/image-editor/image-editor.tsx
  frontend/src/components/common/image-editor/styles.module.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/upload-image/styles.module.scss
  frontend/src/components/common/upload-image/upload-image.tsx
  frontend/src/helpers/channel-banner-editor-size/get-channel-banner-editor-size.ts
  frontend/src/helpers/image/get-cropped-image.ts
  frontend/src/helpers/upload-image/upload-image.ts
  frontend/src/pages/studio/channel/channel.tsx
  shared/src/common/enums/image/image-upload-error-message.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-242: change banner resolution validtion
  frontend/src/pages/studio/channel/channel.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
