Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-124: + some styles for user menu in header + animated toggle * fixed problem when dropdown not closing on Settings click event + user info in user menu options
  .ls-lint.yml
  frontend/src/components/app/app.module.scss
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/toggle-switch/styles.module.scss
  frontend/src/components/common/toggle-switch/toggle-switch.tsx
  frontend/src/hooks/use-outside-click/use-outside-click.hook.ts
  frontend/src/store/layout/actions.ts
  frontend/src/store/layout/common.ts
  frontend/src/store/layout/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-139: fixed color for video skeleton in light theme
  frontend/src/components/common/video-skeleton/video-skeleton.config.ts
  frontend/src/components/common/videos-block/videos-block.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-138: * fixed notification design
  frontend/src/components/notification-dropdown/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-146: + light default video poster
  frontend/src/assets/img/default-video-poster-dark.jpg
  frontend/src/assets/img/default-video-poster-light.jpg
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/components/search/search.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-131: * fix font for sign in/up and password restore
  frontend/src/components/auth/components/common/continue-with-paragraph/styles.module.scss
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend141: * fixed bug for large screens
  frontend/src/components/app/app.module.scss
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/videos-block/videos-block.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-124: + disable scroll event on dropdown focus
  frontend/src/components/app/app.tsx
  frontend/src/components/common/toggle-switch/styles.module.scss
  frontend/src/hooks/use-outside-click/use-outside-click.hook.ts
  frontend/src/pages/profile-preferences-page/styles.module.scss
  frontend/src/store/layout/actions.ts
  frontend/src/store/layout/common.ts
  frontend/src/store/layout/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend145: * fixed jumping content on main page
  frontend/src/components/common/filters-block/filters-block.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-146: * video-cards
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/components/search/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-124: * get rid of commented code - remove closeMenu() function duplicated call
  frontend/src/components/app/app.module.scss
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-129: * added secure flag to cloudinary config
  backend/core/src/secondary-adapters/cloudinary/cloudinary-container-module.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-146: * self-closing tag
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-129: * replace url from cloud image upload response dto to https format
  backend/core/src/secondary-adapters/cloudinary/common/dtos/upload-api-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-124: * moved theme switch toggle to right side of container, * change sun svg to more consistent for others icons
  frontend/src/assets/img/sun-solid.svg
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-140: * fix upload user avatar
  frontend/src/components/common/image-editor/image-editor.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: * fix styles a bit
  frontend/src/components/auth/components/auth-container/auth-container.tsx
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-135: + logo component
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/logo/logo.module.scss
  frontend/src/components/common/logo/logo.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-135: * replaced img elements with svgs, base styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/auth/auth-curve1.svg
  frontend/src/assets/img/auth/auth-curve2.svg
  frontend/src/assets/img/auth/auth-zigzag.svg
  frontend/src/components/auth/components/auth-container/auth-container.tsx
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/notification-dropdown/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontned-136: validation error message logic fix
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend: * minimize forms and make heading in one line
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/password-eye.svg
  frontend/src/components/auth/components/auth-container/auth-container.tsx
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/auth/components/common/auth-submit-btn/auth-submit-btn.tsx
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/common/continue-with-paragraph/continue-with-paragraph.tsx
  frontend/src/components/auth/components/common/continue-with-paragraph/styles.module.scss
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/auth/components/error-display-with-code/error-display-with-code.tsx
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/password-input/password-input.tsx
  frontend/src/components/common/input/styles.module.scss
  frontend/src/pages/account-verification-page/account-verification-confirm-page.tsx
  frontend/src/pages/account-verification-page/account-verification-init-page.tsx
  frontend/src/pages/account-verification-page/send-verification-link-form/send-verification-link-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-150: + title to video card
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-103: + compare strings insensitive helper
  backend/core/src/shared/helpers/compare-strings-insensitive.ts
  backend/core/src/shared/helpers/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-103: + insensitive comparing dublicates
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-150: - hover
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-44: * fix unfixed conflicts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-135: + enhanced logo component and inserted it in website
  frontend/src/components/auth/components/auth-container/auth-container.tsx
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/logo/logo.module.scss
  frontend/src/components/common/logo/logo.tsx
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend: * add max-width
  frontend/src/components/auth/components/auth-container/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-135: + mobile version of auth ready
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/common/continue-with-paragraph/styles.module.scss
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/input/input-component.tsx
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/password-input/password-input.tsx
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotnend-135: * edited styles
  frontend/src/components/auth/components/auth-container/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-135: finished enhancing sign in/sign up design
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/auth-container/auth-container.tsx
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/common/continue-with-paragraph/styles.module.scss
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/image-editor/styles.module.scss
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/common/logo/logo.module.scss
  frontend/src/components/common/logo/logo.tsx
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
  frontend/src/components/not-found-page/styles.module.scss
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-150: * filter
  frontend/src/components/search/components/common/filter-dropdown/filter-dropdown.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend99 + add google auth
  frontend/.env.example
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/components/auth/components/common/social-buttons/google-button/google-button.tsx
  frontend/src/helpers/user/get-google-url.ts
  frontend/src/helpers/user/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-150: * video-card ellipsis
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotnend-147: * bad text display fixed
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotnend: fix profile page styles
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotnend: fix profile page styles
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: + shadow animation
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-133: * fixed validation schema errors display
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/common/input/input-component.tsx
  frontend/src/components/common/input/password-input/password-input.tsx
  frontend/src/components/common/input/styles.module.scss
  shared/src/common/enums/user/user-validation-message.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-85: * mobile sidebar
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-133: * Fixed bug with long line display
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/password-input/password-input.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
