Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-232: fix pr remarks
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Update styles.module.scss
  frontend/src/pages/video/common/comment-block/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-93: * fixed videopath double backslash
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-211: * fix settings moa dal
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/back-arrow.svg
  frontend/src/assets/img/circle-empty-inside.svg
  frontend/src/assets/img/circle-selected.svg
  frontend/src/assets/img/settings-tune.svg
  frontend/src/assets/img/tick.svg
  frontend/src/components/common/video-player/play-pause-center-effect/play-pause-center-effect.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/header-styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/modal-item.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/quality-selector/quality-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/speed-selector/speed-selector.tsx
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-93: * removed comments
  .docker/docker-compose.local.yml
Due: npm run lint:fs

fix/frontend203 * add like dislike video comment merge
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend: + add base url that will be appended to videos if they have no base url
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-205: * improve browse page
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/following-page/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-button/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-206: * fix nginx config
  frontend/src/common/enums/app/env.enum.ts
  nginx/nginx.conf
  nginx/nginx.local.conf
  package.json
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend-204: + implemented possibility to comment comments
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * fix send message
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-248: * fix skeleton size
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-248: * fix reducant skeleton on empty page
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-248: * fix sekeleton color on light theme
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-159: * auth form styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/common/input/password-input/password-input.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-248: * fix browse skeleton
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/common/skeleton-config.ts
  frontend/src/pages/browse-page/common/skeleton.tsx
  frontend/src/store/videos/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-159: * auth form style colors
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-248: * improve pagination
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/pagination/pagination.ts
  backend/core/src/shared/helpers/pagination/use-pagination.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-248: * fix pagination
  backend/core/src/shared/helpers/pagination/use-pagination.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: * fix search input
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: * reexport models from shared
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/search/search.ts
  frontend/src/store/search/models.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: * fix typo on history page
  frontend/src/pages/history-page/history-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontned-248: * fix lint error
  frontend/src/pages/browse-page/browse-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-248: * fix pr remark
  frontend/src/pages/browse-page/browse-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-248: * fix pr remarks
  frontend/src/pages/history-page/history-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

bakend-248: * fix pr remarks
  backend/core/src/shared/helpers/pagination/use-pagination.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: * search request in video controller
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-211: * fix safari and live indicator
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-player/video-player-controls/fullscreen-button/fullscreen-button.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/live-indicator.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-224: * fix username update
  backend/core/src/core/profile/aplication/profile-service.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-224: * update swagger documentation
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-224: * fix bug from task on frontend
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
  frontend/src/store/profile/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-224: * fix build error
  backend/core/src/core/user/port/user-repository.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: + search by channel name
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: * clear search results in header
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: + search request to search page
  frontend/src/components/search/search.tsx
  frontend/src/components/search/styles.module.scss
  frontend/src/services/search-api/search-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/search/actions.ts
  frontend/src/store/search/common.ts
  frontend/src/store/search/reducer.ts
  frontend/src/store/store.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-205: * fix backend part
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/video/create-popular-response.ts
  frontend/src/components/common/no-videos-yet/no-videos-yet.tsx
  frontend/src/components/common/no-videos-yet/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

corrected remarks
  backend/core/prisma/migrations/20220902081827_add_parent_id_to_comment/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-238: + search channel to search engine
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/channel/chanel-container-module.ts
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/channel/channel-filters-data.config.ts
  backend/core/src/shared/enums/channel/channel.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/trim-channel-search.ts
  backend/core/src/shared/helpers/trim-video-search.ts
  backend/core/src/shared/types/channel/channel-search-query.type.ts
  backend/core/src/shared/types/channel/channel.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/search/search.ts
  backend/core/src/shared/types/types.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/types/channel/channel-search/channel-info-search-dto.type.ts
  shared/src/common/types/channel/channel-search/channel-search-data-response-dto.type.ts
  shared/src/common/types/channel/channel-search/channel-search.ts
  shared/src/common/types/channel/channel.ts
  shared/src/common/types/search/search-data-response-dto.type.ts
  shared/src/common/types/search/search.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: * search store acc. search results dto
  frontend/src/common/types/search/search.ts
  frontend/src/common/types/types.ts
  frontend/src/components/search/search.tsx
  frontend/src/services/search-api/search-api.service.ts
  frontend/src/store/search/actions.ts
  frontend/src/store/search/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
