Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-132: * studio sidebar styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/pages/studio/common/sidebar/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-154: * fix error display
  frontend/src/components/auth/restore-password-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + text area and datetime inputs
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/common/input/area-input/area-input.tsx
  frontend/src/components/common/input/area-input/styles.module.scss
  frontend/src/components/common/input/datetime-input/datetime-input.tsx
  frontend/src/components/common/input/datetime-input/styles.module.scss
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-177: * remove unnecessary fixed height
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend: * fixed default channel name
  backend/core/src/core/user/application/user-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-156: * fix bug when after uploading image userId displyed as username
  backend/core/src/secondary-adapters/postgres/profile/profile-repositoty-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-124: * fixed bugs related to email and username container overflow in user menu dropdown
  frontend/src/assets/img/sun-solid.svg
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-172: * fix zoom icons
  frontend/src/assets/img/zoom-in.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/image-editor/image-editor.tsx
  frontend/src/components/common/image-editor/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotnend-176: + notification after profile data change
  frontend/src/assets/img/profile.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-153: * fix profile styles
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-93: + streaming page basic layout and styles fix
  frontend/src/components/app/app.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/input/area-input/styles.module.scss
  frontend/src/components/common/input/datetime-input/styles.module.scss
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/styles.module.scss
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-155: * replace jpeg label by jpg
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-178: * fix banner disappearance by rewriting styles more reliably
  frontend/src/pages/channel-page/components/banner-section/banner-section.tsx
  frontend/src/pages/channel-page/components/banner-section/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-152: * fix validation mode
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/input-component.tsx
  frontend/src/components/common/input/password-input/password-input.tsx
  frontend/src/pages/account-verification-page/send-verification-link-form/send-verification-link-form.tsx
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/restore-password-confirm-page/select-new-password-form/select-new-password-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: + get initial chat messages
  backend/core/src/core/chat/application/chat-service.ts
  backend/core/src/core/chat/chat-container-module.ts
  backend/core/src/core/chat/port/chat-repository.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/secondary-adapters/postgres/chat/chat-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/helpers/trim-video-to-chat-info.ts
  backend/core/src/shared/types/chat/chat-info-before-trimming.ts
  backend/core/src/shared/types/chat/chat.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/types.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/chat-api-path.enum.ts
  shared/src/common/types/chat/chat-info-request-dto.type.ts
  shared/src/common/types/chat/chat-info-response-dto.type.ts
  shared/src/common/types/chat/chat-message.type.ts
  shared/src/common/types/chat/chat.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-152: * rename labels
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/config/auth-notification/auth-notification-message.config.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * fix frontend conflicts
  frontend/src/assets/img/thumb-down.svg
  frontend/src/assets/img/thumb-up.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/video/react-video-action-payload.type.ts
  frontend/src/common/types/video/video.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/send-message/send-message.tsx
  frontend/src/components/video-chat/comments.mock.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/video/get-react-btn-color.ts
  frontend/src/helpers/video/video.ts
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-42: + channel info
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/actions.ts
  frontend/src/store/channel/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-115: * fixed search response dtos for category and tags + ability to bind several tags to video in one request
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/category/application/dtos/cast-to-search-response-dto.ts
  backend/core/src/core/tag/application/dtos/cast-to-search-response-dto.ts
  backend/core/src/core/tag/application/tag-service.ts
  backend/core/src/core/tag/port/tag-repository.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/types/category/category-bind-to-video-dto.ts
  shared/src/common/types/tag/tag-bind-to-video-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: * fix chat-controller
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-115: * fixed some dtos, + ability to bind several categories to video in one request
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/category/port/category-repository.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
  shared/src/common/types/category/category-bind-to-video-dto.ts
  shared/src/common/types/category/category-bind-to-video-request-dto.ts
  shared/src/common/types/category/category.ts
  shared/src/common/types/tag/tag-bind-to-video-request-dto.ts
  shared/src/common/types/tag/tag.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: + socket client
  frontend/package.json
  frontend/src/common/config/config.ts
  frontend/src/common/config/socket.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: * api-path
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/chat-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: + chat store
  frontend/src/common/types/chat/chat.ts
  frontend/src/common/types/types.ts
  frontend/src/services/chat-api/chat-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/chat/actions.ts
  frontend/src/store/chat/common.ts
  frontend/src/store/chat/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: + test chat page
  frontend/src/components/app/app.tsx
  frontend/src/components/app/tests/stream-chat/stream-chat.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/helpers/user/get-full-username.ts
  frontend/src/pages/channel-page/components/about-section/about-section.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + base redux, updating design
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/stream/stream.ts
  frontend/src/common/types/stream/stream.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/input/area-input/area-input.tsx
  frontend/src/components/common/input/area-input/styles.module.scss
  frontend/src/components/common/input/datetime-input/datetime-input.tsx
  frontend/src/components/common/input/datetime-input/styles.module.scss
  frontend/src/components/common/input/input-component.tsx
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/password-input/password-input.tsx
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/pages/channel-page/components/video-section/channel-video-card/channel-video-card.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
  frontend/src/services/channel-crud-api/channel-crud-api.service.ts
  frontend/src/services/stream/stream-api.service.ts
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/common.ts
  frontend/src/store/stream/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: + stream status migration, enum fix, new dtos
  backend/core/prisma/migrations/20220827142221_update_stream_status/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed-data/videos.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/shared/enums/enums.ts
  backend/core/src/shared/enums/stream/stream.ts
  backend/core/src/shared/helpers/trim-channel-info.ts
  package-lock.json
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/stream/stream-status.enum.ts
  shared/src/common/enums/stream/stream.ts
  shared/src/common/enums/stream/streaming-status.enum.ts
  shared/src/common/types/channel/channel-details/channel-video-previews-response-dto.ts
  shared/src/common/types/stream/stream.ts
  shared/src/common/types/stream/video-stream-response-dto.type.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-42: + add comment form
  backend/core/src/shared/helpers/video/types/create-base-vide-response-input.type.ts
  frontend/src/components/common/input/input-component.tsx
  frontend/src/pages/video/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  shared/src/common/types/video/video-base-response.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend: + reaction display
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/pages/video/video-page-container.tsx
  shared/src/common/types/video/video-expanded-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common: + other functionality
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/middleware/base-authentication-middleware.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/video/create-add-reaction-response.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/video/video.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/video/get-react-button-color.helper.ts
  frontend/src/helpers/video/video.ts
  frontend/src/pages/video/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/video/create-reaction-request-dto.type.ts
  shared/src/common/types/video/create-reaction-response-dto.type.ts
  shared/src/common/types/video/video-comment-request-dto.type.ts
  shared/src/common/types/video/video-comment-response-dto.type.ts
  shared/src/common/types/video/video-expanded-response-dto.ts
  shared/src/common/types/video/video-reaction.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common: * fix seed
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend182: + added new seeds
  backend/core/prisma/seed-data/channels.ts
  backend/core/prisma/seed-data/user-profiles.ts
  backend/core/prisma/seed-data/users.ts
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: + integrate player
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  shared/src/common/types/video/video-expanded-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotnend-42: + button for add comment
  frontend/src/components/common/input/input-component.tsx
  frontend/src/pages/video/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

deployment: + healthcheck for docker containers
  .docker/backend.Dockerfile
  .docker/docker-compose.dev.yml
  .docker/docker-compose.yml
  .docker/healthcheck.sh
  .github/workflows/deploy-dev.yml
  backend/push/src/app.ts
  backend/push/src/server.ts
  backend/push/src/services/amqp/amqp-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + DTOs and enums
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/enums/stream/stream.ts
  backend/core/src/shared/types/stream/stream.ts
  shared/src/common/enums/api/channel-streaming-api-path.enum.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/enums/cloudinary/image-store-preset.enum.ts
  shared/src/common/enums/stream/stream-privacy.enum.ts
  shared/src/common/enums/stream/stream.ts
  shared/src/common/types/reaction/create-reaction-response-dto.type.ts
  shared/src/common/types/reaction/reaction.ts
  shared/src/common/types/stream/create-stream-request-dto.type.ts
  shared/src/common/types/stream/stream-live-status-request-dto.type.ts
  shared/src/common/types/stream/stream-poster-upload-request-dto.type.ts
  shared/src/common/types/stream/stream-update-request-dto.type.ts
  shared/src/common/types/stream/stream.ts
  shared/src/common/types/stream/video-stream-response-dto.type.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + model change and prisma migration
  backend/core/prisma/migrations/20220827192446_update_video_model/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed-data/videos.ts
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

deployment: * fix docker-compose file
  .docker/docker-compose.dev.yml
Due: npm run lint:fs

deployment: * fix healthcheck requests in containers
  .docker/docker-compose.dev.yml
Due: npm run lint:fs

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
