Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

frontend-271: + visibility menu dropdown, * added Download option to video menu options
  frontend/src/assets/img/download.svg
  frontend/src/common/enums/component/content-page-menu-options.enum.ts
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/config.ts
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/styles.module.scss
  frontend/src/store/content-page/actions.ts
  frontend/src/store/content-page/common.ts
  frontend/src/store/content-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-318: + basic layout
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/app/app.tsx
  frontend/src/components/common/tabs/tab-button/styles.module.scss
  frontend/src/components/common/tabs/tab-button/tab-button.tsx
  frontend/src/components/common/tabs/tab-header/styles.module.scss
  frontend/src/components/common/tabs/tab-header/tab-header.tsx
  frontend/src/components/common/tabs/tab-info.ts
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/following-page/styles.module.scss
  frontend/src/pages/studio/common/live-stream-analytics/viewers-chart/custom-tooltip/custom-tooltip.tsx
  frontend/src/pages/studio/common/live-stream-analytics/viewers-chart/custom-tooltip/styles.module.scss
  frontend/src/pages/studio/common/live-stream-analytics/viewers-chart/viewers-chart.tsx
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream/stream.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/header/header.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/header/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/live-analytics.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-settings/live-settings.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-settings/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/tabs.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-318: + finish analytics layout for stream settings page
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/tabs/tab-button/tab-button.tsx
  frontend/src/components/common/tabs/tab-header/tab-header.tsx
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/studio/common/custom-tooltip/custom-tooltip.tsx
  frontend/src/pages/studio/common/custom-tooltip/styles.module.scss
  frontend/src/pages/studio/common/live-stream-analytics/chat-chart/chat-chart.tsx
  frontend/src/pages/studio/stream/stream/stream.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/header/header.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/header/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/live-analytics.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/all/all.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/all/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/chat/chat.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/tab.enum.ts
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/views/views.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-324: + fix for starting video on ios
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player.tsx
  nginx/nginx.debug.conf
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend312 + implement modal for start streaming
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  frontend/src/components/common/common.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/common/request-modal/request-modal.tsx
  frontend/src/components/common/request-modal/styles.module.scss
  frontend/src/components/common/sign-in-modal/sign-in-modal.tsx
  frontend/src/pages/studio/home/home-container.tsx
  frontend/src/pages/studio/home/styles.module.scss
  frontend/src/pages/video/video-header/video-header.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
  shared/src/common/types/user/user-stream-permission-response-dto.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-265: + stats controller
  backend/core/prisma/schema.prisma
  backend/core/src/core/channel-stats/application/channel-stats-service.ts
  backend/core/src/core/channel-stats/channel-stats-container-module.ts
  backend/core/src/core/channel-stats/port/channel-stats-repository.ts
  backend/core/src/core/video-stats/application/video-stats-service.ts
  backend/core/src/core/video-stats/port/video-stats-repository.ts
  backend/core/src/core/video-stats/video-stats-container-module.ts
  backend/core/src/primary-adapters/rest/channel-stats/channel-stats-controller.ts
  backend/core/src/primary-adapters/rest/channel-subscription/channel-subscription-controller.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/video-stats/video-stats-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-stats/channel-stats-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/video-stats/video-stats-repository-adapter.ts
  backend/core/src/shared/enums/api/api.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/video/create-many-videostats-dto.type.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/channel-stats-api-path.enum.ts
  shared/src/common/enums/api/video-stats-api-path.enum.ts
  shared/src/common/enums/channel/channel-subscription-status.enum.ts
  shared/src/common/enums/channel/channel.ts
  shared/src/common/enums/video/video-device-category.enum.ts
  shared/src/common/enums/video/video-reaction-status.enum.ts
  shared/src/common/enums/video/video.ts
  shared/src/common/types/channel/channel-stats/channel-stats.ts
  shared/src/common/types/channel/channel-stats/create-channel-stat-dto.type.ts
  shared/src/common/types/channel/channel-stats/create-channel-stat-request-dto.type.ts
  shared/src/common/types/channel/channel.ts
  shared/src/common/types/video/video-stats/create-video-stat-dto.type.ts
  shared/src/common/types/video/video-stats/create-video-stat-request-dto.type.ts
  shared/src/common/types/video/video-stats/video-stats.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: + stats store
  frontend/src/services/services.ts
  frontend/src/services/stats-api/stats-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/stats/actions.ts
  frontend/src/store/stats/common.ts
  frontend/src/store/stats/reducer.ts
  frontend/src/store/store.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Update header-container.tsx
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-271: * refactored change privacy functionality + edit video info functionality
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/input/input-component.tsx
  frontend/src/pages/studio/content/common/info-modal/index.tsx
  frontend/src/pages/studio/content/common/info-modal/styles.module.scss
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/styles.module.scss
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/content-page/actions.ts
  frontend/src/store/content-page/common.ts
  frontend/src/store/content-page/reducer.ts
  frontend/src/validation-schemas/channel/channel.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/channel/channel-profile-change-validation-message.ts
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-271: + ability to delete videos
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/styles.module.scss
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/content-page/actions.ts
  frontend/src/store/content-page/common.ts
  frontend/src/store/content-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/fronttend: 321 changed number of videos for start loading
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-window-dimension/use-window-dimension.ts
  frontend/src/pages/main-page/main-page-number-of-videos-loading.config.ts
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/video-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

ci: add first implementation of tests pipline integration
  .github/workflows/ci.yml
  backend/core/src/configuration/swagger.ts
  package-lock.json
  tests/package.json
  tests/scripts/merge-api-reports.js
  tests/tests/api/lib/controllers/auth.controller.ts
  tests/tests/api/lib/controllers/history.controller.ts
  tests/tests/api/lib/controllers/users.controller.ts
  tests/tests/api/lib/controllers/videos.controller.ts
  tests/tests/api/specs/autorization_api-test.ts
  tests/tests/api/specs/positive_api-test.ts
  tests/tests/helpers/functionsForChecking.helpers.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix github action handling
  .github/workflows/ci.yml
Due: npm run lint:fs

tests: fix integration tests
  backend/core/tests/integration/core/tag/tag-repository-adapter.ts
  backend/core/tests/integration/core/tag/tag.spec.ts
  backend/core/tests/integration/core/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

add end-to-end tests environement
  .github/workflows/ci.yml
Due: npm run lint:fs

tests: fix database seeding
  .github/workflows/ci.yml
Due: npm run lint:fs

remove test handler
  .github/workflows/ci.yml
Due: npm run lint:fs

common-271: + ability to change privacy for several videos, * delete video functionality
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/pages/studio/content/common/privacy-modal/index.tsx
  frontend/src/pages/studio/content/common/privacy-modal/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/content.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/content-page/actions.ts
  frontend/src/store/content-page/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/video/update-video-visibillity-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-271: * fixed data format + ability to delete several videos
  backend/core/src/core/video/application/dtos/cast-to-video-info.ts
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/content.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend-312 + implement modal for start streaming
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/pages/studio/home/home-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: * video-stats controller
  backend/core/src/core/video-stats/application/video-stats-service.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video-stats/video-stats-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/types/video/create-many-videostats-dto.type.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/enums/api/video-stats-api-path.enum.ts
  shared/src/common/types/video/video-stats/create-many-video-stats-request-dto.type.ts
  shared/src/common/types/video/video-stats/create-video-stat-request-dto.type.ts
  shared/src/common/types/video/video-stats/video-stats.ts
  shared/src/exceptions/error-codes/error-codes.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-271: * fixed some styles
  frontend/src/components/common/confirmation-modal/confirmation-modal.tsx
  frontend/src/components/common/confirmation-modal/styles.module.scss
  frontend/src/pages/studio/content/common/info-modal/index.tsx
  frontend/src/pages/studio/content/common/info-modal/styles.module.scss
  frontend/src/pages/studio/content/common/privacy-modal/index.tsx
  frontend/src/pages/studio/content/common/privacy-modal/styles.module.scss
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-265: * video stats store
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/video/video-device-category.ts
  frontend/src/common/enums/video/video.ts
  frontend/src/common/types/stats/stats-data.type.ts
  frontend/src/common/types/stats/stats.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/helpers/common/common.ts
  frontend/src/helpers/common/create-counter.helper.ts
  frontend/src/helpers/device/device.ts
  frontend/src/helpers/device/get-device-category-by-navigator.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/video/channel-info-row/channel-info-row.tsx
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/subscribe/subscribe.tsx
  frontend/src/pages/video/config.ts
  frontend/src/pages/video/video-header/video-header.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/stats-api/stats-api.service.ts
  frontend/src/store/stats/actions.ts
  frontend/src/store/stats/common.ts
  frontend/src/store/stats/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-271: * fixed tests
  backend/core/tests/integration/core/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend-329: fixed size video chat on streaming page
  frontend/src/pages/studio/stream/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

fix/frontend-312 * implement modal for streaming
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend312 * implement modal for streaming
  frontend/src/pages/studio/home/home-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-271: * fixed update info functionality
  frontend/src/pages/studio/content/common/info-modal/index.tsx
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/validation-schemas/content-page/content-page.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/content-page/content-page.ts
  shared/src/common/enums/content-page/video-change-validation-message.ts
  shared/src/common/enums/enums.ts
  shared/src/validation-schemas/content-page/channel-update-validation-scheme.ts
  shared/src/validation-schemas/content-page/content-page.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend321: * fixed problen relate with reload recommended videos and comments
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fixed problem with size stream page after connecting OBS
  frontend/src/pages/studio/stream/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

common-330: * fixed video filtering by privacy and status on channel and content pages + "no video yet" placeholders on channel and content pages + "live" lable for live videos on content page
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/pages/channel-page/components/video-section/video-section.tsx
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-324: * change any to appropriate interface
  frontend/src/components/common/video-player/play-pause-center-effect/play-pause-center-effect.tsx
  frontend/src/components/common/video-player/video-player-controls/control-button/control-button.tsx
  frontend/src/components/common/video-player/video-player-controls/fullscreen-button/fullscreen-button.tsx
  frontend/src/components/common/video-player/video-player-controls/fullscreen-button/helpers/fscreen.ts
  frontend/src/components/common/video-player/video-player-controls/settings-control/quality-selector/quality-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend-323: * fixed preferred modal and some small bugs
  frontend/src/components/app/app.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/pages/main-page/main-page-number-of-videos-loading.config.ts
  frontend/src/pages/main-page/main-page.module.scss
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/pages/video/video-header/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend312 * implement modal for streaming
  frontend/src/components/app/app.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/common/request-modal/styles.module.scss
  frontend/src/pages/studio/analytics/periods/periods.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/frontend 326: + added preferences modal to settings page
  frontend/src/components/common/preferences-modal/preferences-modal-container.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-324: * fix settings display on mobiles
  frontend/src/components/common/portal/portal.ts
  frontend/src/components/common/video-player/video-player-controls/settings-control/generic-settings-modal/generic-settings-modal.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

change data folder mapping
  .docker/docker-compose.prod.yml
Due: npm run lint:fs

backend-265: * stats model
  backend/core/prisma/migrations/20220914071907_add_video_statistic_model/migration.sql
  backend/core/prisma/migrations/20220914084306_add_channel_statistic_model/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend 327: * rewrited logic for pretty date string
  frontend/src/helpers/date/is-date-same-by-day-mounth-year/is-date-same-by-day-mounth-year.ts
  frontend/src/pages/history-page/common/history-list/history-list.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-265: * video stats with changed model
  backend/core/src/core/video-stats/application/video-stats-service.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/shared/types/video/create-many-video-stats-dto.type.ts
  backend/core/src/shared/types/video/create-one-video-stat-dto.type.ts
  backend/core/src/shared/types/video/video.ts
  frontend/src/pages/studio/analytics/tabs/views/constants.ts
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  shared/src/common/types/video/add-video-view-dto.ts
  shared/src/common/types/video/video-stats/create-many-video-stats-request-dto.type.ts
  shared/src/common/types/video/video-stats/create-one-video-stat-request-dto.type.ts
  shared/src/common/types/video/video-stats/create-video-stat-dto.type.ts
  shared/src/common/types/video/video-stats/video-stats.ts
Due: npm run lint:fs, prettier --write, npm run lint:js
