Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-93: * fix sockets config
  .docker/frontend.Dockerfile
  frontend/src/common/config/socket.ts
  shared/src/common/enums/socket/socket-events.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-93: * amqp notifications
  backend/core/src/core/channel-streaming/port/channel-streaming-repository.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  backend/push/src/config/amqp-connection.ts
  backend/push/src/services/socket/socket-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-93: + socket store
  frontend/src/components/app/app.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/socket/actions.ts
  frontend/src/store/socket/common.ts
  frontend/src/store/socket/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-56: + added new migration
  backend/core/prisma/migrations/20220829151155_add_index_for_video/migration.sql
  backend/core/prisma/migrations/20220829151355_add_index_for_video/migration.sql
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  shared/src/common/types/video/base-video-response-dto.type.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * fix video page styles
  frontend/src/common/enums/component/icon-color.enum.ts
  frontend/src/helpers/video/get-react-button-color.helper.ts
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-109: + complete subscription functionality
  backend/core/src/core/channel-subscription/application/channel-subscription-service.ts
  backend/core/src/core/channel-subscription/port/channel-subscription-repository.ts
  backend/core/src/primary-adapters/rest/channel-subscription/channel-subscription-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-subscription/channel-subscription-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/trim-channel-to-subscription-channel.ts
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/sidebar-container.tsx
  frontend/src/components/common/sidebar/sidebar-subs/sidebar-subs.tsx
  frontend/src/components/common/sidebar/sidebar-subs/styles.module.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/pages/channel-page/components/channel-header/channel-header.tsx
  frontend/src/pages/video/common/subscribe/subscribe.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/sidebar/reducer.ts
  frontend/src/store/subscriptions/actions.ts
  frontend/src/store/subscriptions/common.ts
  frontend/src/store/subscriptions/reducer.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/types/channel/subscription/subscription.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-109: * fix positioning of 'need sign in' modal
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-56: * implemented full text search
  backend/core/prisma/migrations/20220829151155_add_index_for_video/migration.sql
  backend/core/prisma/migrations/20220829151355_add_index_for_video/migration.sql
  backend/core/prisma/migrations/20220829185929_add_index_for_video/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  shared/src/common/enums/api/video-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-188: + update channel avatar & banner routes
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/secondary-adapters/cloudinary/config/presets.ts
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
  shared/src/common/enums/api/channel-crud-api-path.enum.ts
  shared/src/common/enums/cloudinary/image-store-preset.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-188: + dto casts, + update channel settings route
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/core/channel-crud/application/dtos/cast-to-channel-update-response-dtp.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend99 + implement google auth
  backend/core/.env.example
  backend/core/package.json
  backend/core/src/configuration/config.ts
  backend/core/src/configuration/google-oauth.ts
  backend/core/src/core/profile/port/profile-repository.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  backend/core/src/primary-adapters/rest/middleware/google-middleware.ts
  backend/core/src/primary-adapters/rest/middleware/index.ts
  backend/core/src/secondary-adapters/postgres/profile/profile-repositoty-adapter.ts
  backend/core/src/shared/types/express/extended-request.ts
  backend/core/src/shared/types/user/user.ts
  backend/push/package.json
  backend/video-transcoding-server/package.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/auth/components/common/social-buttons/google-button/google-authorization.tsx
  frontend/src/components/auth/components/common/social-buttons/google-button/google-button.tsx
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  package-lock.json
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/types/user/google-request-dto.type.ts
  shared/src/common/types/user/google-response-dto.type.ts
  shared/src/common/types/user/google-user-result-dto.type.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-107: + ability add vide-history
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/shared/enums/api/api.ts
  backend/core/src/shared/helpers/trim-history.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/components/common/upload-image/upload-image.tsx
  frontend/src/services/history/history-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/history/actions.ts
  frontend/src/store/history/common.ts
  frontend/src/store/history/reducer.ts
  frontend/src/store/store.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/history-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/history/history-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-107: + ability to load all user history in base history response type
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: + store actions and reducer for history
  frontend/src/services/history/history-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/history/actions.ts
  frontend/src/store/history/reducer.ts
  frontend/src/store/root-reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: + history page
  frontend/src/components/app/app.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-188: * moved channel owner checking logic to middleware
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/primary-adapters/rest/middleware/channel-owner-middleware.ts
  backend/core/src/primary-adapters/rest/middleware/index.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/shared/types/container-type-keys.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-109: * move frequently used compound object type into a separate file
  backend/core/src/core/channel-subscription/application/channel-subscription-service.ts
  backend/core/src/core/channel-subscription/port/channel-subscription-repository.ts
  backend/core/src/shared/helpers/trim-subscription-info.ts
  backend/core/src/shared/types/subscription/subscription-list-before-trimming.ts
  backend/core/src/shared/types/subscription/subscription-with-channel-before-trim.ts
  backend/core/src/shared/types/subscription/subscription.ts
  backend/core/src/shared/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

deployment: * fix backend healthcheck
  .docker/docker-compose.dev.yml
  .docker/docker-compose.yml
  backend/core/src/primary-adapters/rest/healthcheck/healthcheck-controller.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/shared/types/container-type-keys.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/backend99 * implement google authorization
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/backend99 * implement google authorization id
  backend/core/src/core/user/application/user-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: + isChatEnabled field to Video
  backend/core/prisma/migrations/20220830114036_add_live_chat_toggle/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed-data/videos.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-209: + add initial backend functionality
  backend/core/src/core/following/application/following-service.ts
  backend/core/src/core/following/following-container-module.ts
  backend/core/src/core/video/port/video-repository-filters.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/following/following-controller.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/api/api.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/types.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/following-api-path.enum.ts
  shared/src/common/types/following/following.ts
  shared/src/common/types/following/videos-live-response-dto.ts
  shared/src/common/types/following/videps-offline-response-dto.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: * channel streaming service
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/channel-streaming/port/channel-streaming-repository.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  backend/core/src/shared/types/channel/channel.ts
  backend/core/src/shared/types/video/video-with-channel-and-author-dto.type.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/enums/api/channel-streaming-api-path.enum.ts
  shared/src/common/types/channel/change-chat-toggle-request-dto.type.ts
  shared/src/common/types/channel/change-chat-toggle-response-dto.type.ts
  shared/src/common/types/channel/channel.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: + swager documentation to route
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: * chat service with disabled chat
  backend/core/src/core/chat/application/chat-service.ts
  backend/core/src/core/chat/port/chat-repository.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/core/src/secondary-adapters/postgres/chat/chat-repository-adapter.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: * fix socket config
  .docker/frontend.Dockerfile
  frontend/src/common/config/socket.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: * fix swagger docs
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: + skeletons pagination infinitive scroll
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/shared/helpers/trim-history.ts
  frontend/package.json
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/services/history/history-api.service.ts
  frontend/src/store/history/actions.ts
  frontend/src/store/history/reducer.ts
  package-lock.json
  shared/src/common/types/history/history-response-dto.ts
  shared/src/common/types/history/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: * fixed redux, other minor changes
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/studio/home/home.tsx
  frontend/src/pages/studio/new-stream/new-stream.tsx
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/common.ts
  frontend/src/store/stream/reducer.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: + notify viewer about isChatEnabled
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/push/src/config/amqp-connection.ts
  backend/push/src/services/socket/socket-service.ts
  shared/src/common/enums/amqp/amqp-channel.enum.ts
  shared/src/common/enums/socket/socket-events.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-208: * version in package.json
  package-lock.json
Due: npm run lint:fs, prettier --write

frontend-107: fix bug with two history records
  frontend/src/helpers/array/is-object-unique-id-contain-intwo-array.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/store/history/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-93: * socket client map
  backend/push/src/helpers/get-user-id-by-socket-id.helper.ts
  backend/push/src/services/socket/socket-service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-209: + add live and offline video tabs
  backend/core/src/core/following/application/following-service.ts
  backend/core/src/core/following/following-container-module.ts
  backend/core/src/core/video/port/video-repository-filters.ts
  backend/core/src/primary-adapters/rest/following/following-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/assets/img/bed-in-circle.svg
  frontend/src/common/enums/api/api.ts
  frontend/src/common/types/video/video.ts
  frontend/src/components/app/app.tsx
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/following-page/styles.module.scss
  frontend/src/pages/following-page/tabs/common/no-videos-yet/no-videos-yet.tsx
  frontend/src/pages/following-page/tabs/common/no-videos-yet/styles.module.scss
  frontend/src/pages/following-page/tabs/live-videos/live-videos-tab.tsx
  frontend/src/pages/following-page/tabs/offline-videos/offline-videos-tab.tsx
  frontend/src/pages/following-page/tabs/tab-button/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-button/tab-button.tsx
  frontend/src/pages/following-page/tabs/tab-header/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/tab-header.tsx
  frontend/src/pages/following-page/tabs/tab-info.ts
  frontend/src/pages/following-page/tabs/tabs.enum.ts
  frontend/src/services/following-api/following-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/following-page/actions.ts
  frontend/src/store/following-page/common.ts
  frontend/src/store/following-page/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  shared/src/common/enums/api/following-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-183: + basic markup for channel settings page
  frontend/src/pages/studio/channel/channel.tsx
  frontend/src/pages/studio/channel/common/channel-settings-form.tsx
  frontend/src/pages/studio/channel/common/styles.module.scss
  package-lock.json
  shared/src/common/enums/channel/channel-profile-change-validation-message.ts
  shared/src/common/enums/channel/channel.ts
  shared/src/common/enums/enums.ts
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
  shared/src/validation-schemas/channel/channel.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: * merge fixes
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/store/stream/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

shared-93: + new dto for streaming info
  shared/src/common/enums/api/channel-streaming-api-path.enum.ts
  shared/src/common/types/stream/stream.ts
  shared/src/common/types/stream/streaming-info-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-93: + new route for whole streaming info
  backend/core/src/core/channel-streaming/port/channel-streaming-repository.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  backend/core/src/shared/types/stream/stream.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + applied new backend route
  frontend/src/pages/studio/home/home.tsx
  frontend/src/pages/studio/new-stream/new-stream.tsx
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/services/channel-streaming-api/channel-streaming-api.service.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/common.ts
  frontend/src/store/stream/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * divide messages to initial and new received
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/store/chat/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
