Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-78: * user auth verification
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/password-creation-schema.ts
  shared/src/validation-schemas/user/user-sign-in-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-28: * fixed problem with dependencies
  frontend/package.json
  frontend/src/pages/main-page/main-page-container.tsx
  package-lock.json
  package.json
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-103: * fix email case sensivity
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-69: * fixed some styles
  frontend/src/components/common/header/config.ts
  frontend/src/components/common/header/helpers.ts
  frontend/src/components/notification-dropdown/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-28: * added swagger changes for videos
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-78: * video tag
  frontend/src/components/search/components/common/video-tag/styles.module.scss
  frontend/src/components/search/components/common/video-tag/video-tag.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-44: + initial video tab layout
  backend/core/prisma/migrations/20220823100502_add_poster_and_duration_to_video/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed-data/videos.ts
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/core/channel-crud/port/channel-crud-repository.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
  backend/core/src/shared/types/channel/channel-info-before-trimming.ts
  backend/core/src/shared/types/channel/channel.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/streaming/streaming.ts
  frontend/src/common/types/channel/channel.ts
  frontend/src/components/app/tests/video-card/video-card.tsx
  frontend/src/components/common/video-card/styles.module.scss
  frontend/src/components/common/video-card/video-card.tsx
  frontend/src/pages/channel-page/channel-page.tsx
  frontend/src/pages/channel-page/components/about-section/about-section.tsx
  frontend/src/pages/channel-page/components/about-section/styles.module.scss
  frontend/src/pages/channel-page/components/channel-header/channel-header.tsx
  frontend/src/pages/channel-page/components/channel-header/channel-info/channel-info.tsx
  frontend/src/pages/channel-page/components/channel-header/channel-tabs/channel-tab/channel-tab.tsx
  frontend/src/pages/channel-page/components/channel-header/channel-tabs/channel-tab/styles.module.scss
  frontend/src/pages/channel-page/components/channel-header/channel-tabs/channel-tabs.tsx
  frontend/src/pages/channel-page/components/channel-header/channel-tabs/styles.module.scss
  frontend/src/pages/channel-page/components/channel-header/channel-tabs/tabs.enum.ts
  frontend/src/pages/channel-page/components/channel-header/styles.module.scss
  frontend/src/pages/channel-page/components/channel-tabs/channel-tabs.tsx
  frontend/src/pages/channel-page/components/video-section/channel-video-card/channel-video-card.tsx
  frontend/src/pages/channel-page/components/video-section/styles.module.scss
  frontend/src/pages/channel-page/components/video-section/video-section.tsx
  frontend/src/pages/channel-page/styles.module.scss
  frontend/src/store/channel-page/reducer.ts
  shared/src/common/types/channel/channel-details/channel-details.ts
  shared/src/common/types/channel/channel-details/channel-info-response-dto.ts
  shared/src/common/types/channel/channel-details/channel-video-previews-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/frontend-44: + live button
  frontend/src/assets/img/time-ago.svg
  frontend/src/assets/img/watch.svg
  frontend/src/components/app/tests/video-card/video-card.tsx
  frontend/src/components/common/video-card/styles.module.scss
  frontend/src/components/common/video-card/video-card.tsx
  frontend/src/pages/channel-page/components/video-section/channel-video-card/channel-video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/frontend99 + implement google authorization
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  frontend/package.json
  frontend/public/index.html
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/components/auth/components/common/social-buttons/google-button/google-button.tsx
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-script/use-script.hook.ts
  package-lock.json
  shared/src/common/enums/api/auth-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/frontend-44: * fix bug with redirect
  frontend/src/common/enums/channel/channel.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/common/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-57: * updated package-lock
  package-lock.json
Due: npm run lint:fs, prettier --write

backend-115: + tag route flow
  backend/core/src/core/tag/application/dtos/cast-to-tag-response-dto.ts
  backend/core/src/core/tag/application/tag-service.ts
  backend/core/src/core/tag/port/tag-repository.ts
  backend/core/src/core/tag/tag-container-module.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/tag/tag.ts
  backend/core/src/shared/types/types.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/tag-api-path.enum.ts
  shared/src/common/types/tag/tag-create-request-dto.ts
  shared/src/common/types/tag/tag-response-dto.ts
  shared/src/common/types/tag/tag.ts
  shared/src/common/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-57: * fixed package-lock
  package-lock.json
Due: npm run lint:fs, prettier --write

backend-115: + create tag route
  backend/core/src/core/tag/application/dtos/cast-to-tag-response-dto.ts
  backend/core/src/core/tag/application/tag-service.ts
  backend/core/src/core/tag/port/tag-repository.ts
  backend/core/src/primary-adapters/rest/tag/helpers/helpers.ts
  backend/core/src/primary-adapters/rest/tag/helpers/normalize-payload-helper.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: + actions reducer and service for load history
  frontend/src/services/history-api/history-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/history/actions.ts
  frontend/src/store/history/common.ts
  frontend/src/store/history/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-90: * fixed merge issues
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-90: moved studio pages to pages folder, fixed namings
  frontend/src/components/app/app.tsx
  frontend/src/components/studio/channel/index.ts
  frontend/src/helpers/routes/is-router-has-default-navigation/is-route-has-default-navigation.helper.ts
  frontend/src/helpers/routes/is-router-has-studio-navigation/is-route-has-studio-navigation.helper.ts
  frontend/src/helpers/routes/routes.ts
  frontend/src/pages/studio/analytics/analytics.tsx
  frontend/src/pages/studio/analytics/index.ts
  frontend/src/pages/studio/analytics/styles.module.scss
  frontend/src/pages/studio/channel/channel.tsx
  frontend/src/pages/studio/channel/index.ts
  frontend/src/pages/studio/channel/styles.module.scss
  frontend/src/pages/studio/common/sidebar/config.ts
  frontend/src/pages/studio/common/sidebar/index.ts
  frontend/src/pages/studio/common/sidebar/sidebar.tsx
  frontend/src/pages/studio/common/sidebar/styles.module.scss
  frontend/src/pages/studio/home/home.tsx
  frontend/src/pages/studio/home/index.ts
  frontend/src/pages/studio/home/styles.module.scss
  frontend/src/pages/studio/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-28: * video storage setup
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/filters-block/filter-list.mock.ts
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/types/video/base-video-response-dto.type.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-90: - z-index fix (will be fixed in separate branch)
  frontend/src/components/notification-dropdown/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-82: - react notifications comp from app
  frontend/src/components/app/app.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-82: - unnecessary route
  frontend/src/components/app/app.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-82: + navigate to studio
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-82: - unused files
  frontend/src/components/common/icon/styles.module.css
  frontend/src/components/common/icon/styles.module.css.map
  frontend/src/components/not-found-page/styles.module.css
  frontend/src/components/not-found-page/styles.module.css.map
Due: npm run lint:fs

frontend-82: * z-index
  frontend/src/assets/css/config.scss
  frontend/src/components/app/app.module.scss
  frontend/src/components/auth/components/auth-container/styles.module.scss
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/portal/styles.module.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/not-found-page/styles.module.scss
  frontend/src/components/notification-dropdown/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-82: * auth form styles
  frontend/src/components/auth/components/common/continue-with-paragraph/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/input-component.tsx
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/password-input/password-input.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-82: * header
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-82: * auth modal border style
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/auth-container/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-107: + history enums
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  frontend/src/common/enums/api/api.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-115: - removed create tag route + bind tag to video route
  backend/core/prisma/schema.prisma
  backend/core/src/core/tag/application/tag-service.ts
  backend/core/src/core/tag/port/tag-repository.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
  shared/src/common/enums/api/tag-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-107 + history types
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/services/history-api/history-api.service.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/history-api-path.enums.ts
  shared/src/common/types/history/history-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-28: * resolve conflicts in package.json
  frontend/package.json
  package-lock.json
Due: npm run lint:fs, prettier --write

frontend-78: + icons
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-90: * fixed styles
  frontend/src/components/app/app.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-28: * main layout styles fixed
  frontend/src/components/app/app.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-96: * search filters
  frontend/src/components/search/components/common/filter-dropdown/filter-dropdown.tsx
  frontend/src/components/search/components/common/filter-dropdown/styles.module.scss
  frontend/src/components/search/components/common/filter-select/filter-select.tsx
  frontend/src/components/search/components/common/filter-select/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-96: * video helper
  frontend/src/helpers/video/get-format-duration-string.helper.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: * url params routing fix
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/studio/channel/index.ts
  frontend/src/helpers/routes/is-router-has-studio-navigation/is-route-has-studio-navigation.helper.ts
  frontend/src/pages/studio/index.ts
  frontend/src/pages/studio/stream/index.ts
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: * moved default images to separate folder
  frontend/src/assets/img/default/profile-banner-default.jpg
  frontend/src/assets/img/default/user-avatar-default.jpg
  frontend/src/assets/img/default/video-default.png
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/video-card/video-card.tsx
  frontend/src/components/notification-dropdown/components/notification/new-stream-notification.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + readonly inputs
  frontend/src/components/common/input/input-component.tsx
  frontend/src/components/common/input/password-input/password-input.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: * search page styles
  frontend/src/components/search/components/filter-bar/styles.module.scss
  frontend/src/components/search/components/filter-sidebar/styles.module.scss
  frontend/src/components/search/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
