Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-96: * header search input
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: * video helpers
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/video/get-format-scheduled-date-string.helper.ts
  frontend/src/helpers/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: + components for search video card
  frontend/src/components/search/components/video-card/components/components.tsx
  frontend/src/components/search/components/video-card/components/meta-data-video/meta-data-video.tsx
  frontend/src/components/search/components/video-card/components/meta-data-wait/meta-data-wait.tsx
  frontend/src/components/search/components/video-card/components/scheduled-video-badge/scheduled-video-badge.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: * search video card
  frontend/src/components/search/components/video-card/config.ts
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: * main video card
  frontend/src/components/common/video-card-main/components/components.ts
  frontend/src/components/common/video-card-main/components/scheduled-video-badge/scheduled-video-badge.tsx
  frontend/src/components/common/video-card-main/config.ts
  frontend/src/components/common/video-card-main/video-card-main.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: * live tag
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/circle.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/common/video-tag/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-96: * search page effects flow
  frontend/src/components/search/components/filter-sidebar/filter-sidebar.tsx
  frontend/src/components/search/helpers.ts
  frontend/src/components/search/search.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: + default video poster
  frontend/src/assets/img/default-video-poster.jpg
  frontend/src/common/types/types.ts
  frontend/src/common/types/video/video.ts
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/services/video-api/video-api.service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: * fix for light theme
  frontend/src/components/search/components/common/video-tag/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-85: + header height config
  frontend/src/assets/css/config.scss
  frontend/src/components/app/app.module.scss
  frontend/src/pages/profile-preferences-page/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-44: * pr remarks
  backend/core/prisma/seed-data/videos.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/trim-channel-info.ts
  frontend/src/pages/channel-page/channel-page.tsx
  frontend/src/pages/channel-page/components/about-section/about-section.tsx
  frontend/src/pages/channel-page/components/channel-header/channel-header.tsx
  frontend/src/pages/channel-page/components/video-section/channel-video-card/channel-video-card.tsx
  frontend/src/pages/channel-page/components/video-section/video-section.tsx
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
  frontend/src/store/root-reducer.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: * fix onBlur auth fields errors
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: - play btn
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-96: + dropdown close
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: * fix header dropdown color
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/toggle-switch/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-96: * fix mode auth form
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-115: + search by tags route
  .ls-lint.yml
  backend/core/src/core/tag/application/dtos/cast-to-search-response-dto.ts
  backend/core/src/core/tag/application/tag-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/tag/helpers/normalize-tag-filters-helper.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/tag/tag-search-response-dto.ts
  backend/core/src/shared/types/tag/tag.ts
  shared/src/common/enums/api/tag-api-path.enum.ts
  shared/src/common/types/tag/tag-search-request-query-dto.ts
  shared/src/common/types/tag/tag-search-response-dto.ts
  shared/src/common/types/tag/tag.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + base stream settings styles
  .eslintrc.yml
  frontend/src/components/app/app.module.scss
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-143: - commented redux actions calls to remove console 404 errors
  frontend/src/components/notification-dropdown/notification-dropdown-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-96: - revert prefix auth form
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-107: * fix fonts connect
  frontend/src/assets/font/Gilroy-Medium.woff
  frontend/src/assets/font/Gilroy-Regular.woff
  frontend/src/assets/font/Gilroy-SemiBold.woff
  frontend/src/assets/fonts/Gilroy-Black.woff2
  frontend/src/assets/fonts/Gilroy-BlackItalic.woff2
  frontend/src/assets/fonts/Gilroy-Bold.woff2
  frontend/src/assets/fonts/Gilroy-BoldItalic.woff2
  frontend/src/assets/fonts/Gilroy-Extrabold.woff2
  frontend/src/assets/fonts/Gilroy-ExtraboldItalic.woff2
  frontend/src/assets/fonts/Gilroy-Heavy.woff2
  frontend/src/assets/fonts/Gilroy-HeavyItalic.woff2
  frontend/src/assets/fonts/Gilroy-Light.woff2
  frontend/src/assets/fonts/Gilroy-LightItalic.woff2
  frontend/src/assets/fonts/Gilroy-Medium.woff2
  frontend/src/assets/fonts/Gilroy-MediumItalic.woff2
  frontend/src/assets/fonts/Gilroy-Regular.woff2
  frontend/src/assets/fonts/Gilroy-RegularItalic.woff2
  frontend/src/assets/fonts/Gilroy-Semibold.woff2
  frontend/src/assets/fonts/Gilroy-SemiboldItalic.woff2
  frontend/src/assets/fonts/Gilroy-Thin.woff2
  frontend/src/assets/fonts/Gilroy-ThinItalic.woff2
  frontend/src/assets/fonts/Gilroy-UltraLight.woff2
  frontend/src/assets/fonts/Gilroy-UltraLightItalic.woff2
Due: npm run lint:fs

frontend-107: * scaffolding
  frontend/src/assets/css/scaffolding.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-107: * fix scaffolding.scss
  frontend/src/assets/css/scaffolding.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-123: * replace old font rule in styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/common/continue-with-paragraph/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/search/components/common/filter-dropdown/styles.module.scss
  frontend/src/components/search/components/common/filter-select/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-125: - eslint error
  frontend/src/components/common/sidebar/sidebar-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

common-127: * fix bug with auth flow
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  frontend/src/common/types/user/user.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/interceptors/attach-auth-token-interceptor.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-126: * fix wrong font on logo
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/fonts/Girloy/Gilroy-Black.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-BlackItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Bold.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-BoldItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Extrabold.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-ExtraboldItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Heavy.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-HeavyItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Light.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-LightItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Medium.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-MediumItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Regular.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-RegularItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Semibold.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-SemiboldItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Thin.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-ThinItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-UltraLight.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-UltraLightItalic.woff2
  frontend/src/assets/fonts/Inter/Inter-Black.woff2
  frontend/src/assets/fonts/Inter/Inter-Bold.woff2
  frontend/src/assets/fonts/Inter/Inter-ExtraBold.woff2
  frontend/src/assets/fonts/Inter/Inter-ExtraLight.woff2
  frontend/src/assets/fonts/Inter/Inter-Light.woff2
  frontend/src/assets/fonts/Inter/Inter-Medium.woff2
  frontend/src/assets/fonts/Inter/Inter-Regular.woff2
  frontend/src/assets/fonts/Inter/Inter-SemiBold.woff2
  frontend/src/assets/fonts/Inter/Inter-Thin.woff2
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-126: fix build error rename folder part 1
  frontend/src/assets/fonts/Girloy/Gilroy-Black.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-BlackItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Bold.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-BoldItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Extrabold.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-ExtraboldItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Heavy.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-HeavyItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Light.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-LightItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Medium.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-MediumItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Regular.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-RegularItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Semibold.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-SemiboldItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-Thin.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-ThinItalic.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-UltraLight.woff2
  frontend/src/assets/fonts/Girloy/Gilroy-UltraLightItalic.woff2
  frontend/src/assets/fonts/Inter/Inter-Black.woff2
  frontend/src/assets/fonts/Inter/Inter-Bold.woff2
  frontend/src/assets/fonts/Inter/Inter-ExtraBold.woff2
  frontend/src/assets/fonts/Inter/Inter-ExtraLight.woff2
  frontend/src/assets/fonts/Inter/Inter-Light.woff2
  frontend/src/assets/fonts/Inter/Inter-Medium.woff2
  frontend/src/assets/fonts/Inter/Inter-Regular.woff2
  frontend/src/assets/fonts/Inter/Inter-SemiBold.woff2
  frontend/src/assets/fonts/Inter/Inter-Thin.woff2
Due: npm run lint:fs

frontend-126: fix build error rename folder part 2
  frontend/src/assets/fonts/girloy/Gilroy-Black.woff2
  frontend/src/assets/fonts/girloy/Gilroy-BlackItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-Bold.woff2
  frontend/src/assets/fonts/girloy/Gilroy-BoldItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-Extrabold.woff2
  frontend/src/assets/fonts/girloy/Gilroy-ExtraboldItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-Heavy.woff2
  frontend/src/assets/fonts/girloy/Gilroy-HeavyItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-Light.woff2
  frontend/src/assets/fonts/girloy/Gilroy-LightItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-Medium.woff2
  frontend/src/assets/fonts/girloy/Gilroy-MediumItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-Regular.woff2
  frontend/src/assets/fonts/girloy/Gilroy-RegularItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-Semibold.woff2
  frontend/src/assets/fonts/girloy/Gilroy-SemiboldItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-Thin.woff2
  frontend/src/assets/fonts/girloy/Gilroy-ThinItalic.woff2
  frontend/src/assets/fonts/girloy/Gilroy-UltraLight.woff2
  frontend/src/assets/fonts/girloy/Gilroy-UltraLightItalic.woff2
  frontend/src/assets/fonts/inter/Inter-Black.woff2
  frontend/src/assets/fonts/inter/Inter-Bold.woff2
  frontend/src/assets/fonts/inter/Inter-ExtraBold.woff2
  frontend/src/assets/fonts/inter/Inter-ExtraLight.woff2
  frontend/src/assets/fonts/inter/Inter-Light.woff2
  frontend/src/assets/fonts/inter/Inter-Medium.woff2
  frontend/src/assets/fonts/inter/Inter-Regular.woff2
  frontend/src/assets/fonts/inter/Inter-SemiBold.woff2
  frontend/src/assets/fonts/inter/Inter-Thin.woff2
Due: npm run lint:fs

frontend-137: * fix sidebar styles
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-137: * fix opening sidebar
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

common-130: + do the flow
  backend/core/src/primary-adapters/rest/auth/auth-controller.ts
  backend/core/src/primary-adapters/rest/common/data/api-error.ts
  backend/core/src/primary-adapters/rest/common/http-error-handlers.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/exceptions/bad-request.ts
  backend/core/src/shared/exceptions/duplication-error.ts
  backend/core/src/shared/exceptions/error-codes.ts
  backend/core/src/shared/exceptions/exceptions.ts
  backend/core/src/shared/exceptions/extended-error.ts
  backend/core/src/shared/exceptions/forbidden.ts
  backend/core/src/shared/exceptions/not-found.ts
  backend/core/src/shared/exceptions/unauthorized.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/app/app.ts
  frontend/src/common/types/app/async-thunk-config.type.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/auth/components/auth-container/auth-container.tsx
  frontend/src/components/auth/restore-password-page.tsx
  frontend/src/components/auth/sign-in-page.tsx
  frontend/src/components/auth/sign-up-page.tsx
  frontend/src/components/common/errors/error-box/error-box.tsx
  frontend/src/exceptions/exceptions.ts
  frontend/src/helpers/http/http.ts
  frontend/src/helpers/http/serialize-http-error/serialize-http-error.ts
  frontend/src/helpers/redux/get-rejected-error-data.ts
  frontend/src/helpers/redux/redux.ts
  frontend/src/pages/account-verification-page/account-verification-init-page.tsx
  frontend/src/services/http/http.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
  shared/src/exceptions/error-codes/error-codes.ts
  shared/src/exceptions/exceptions.ts
  shared/src/exceptions/http-error/http-error.exception.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-117: * fix message
  backend/core/src/shared/enums/messages/success-messages.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-141: fixed content width issue
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/app/app.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

common-130: * separate error display into a separate component
  frontend/src/components/auth/components/error-display-with-code/error-display-with-code.tsx
  frontend/src/components/auth/sign-in-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend128 * change custom scrollbar
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/scrollbar.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
