Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: * naming fix, presets for video posters and channel banners
  backend/core/src/secondary-adapters/cloudinary/cloud/cloudinary-adapter.ts
  backend/core/src/secondary-adapters/cloudinary/cloudinary-container-module.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + streaming controller
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + some repository requests and fixes
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/channel-streaming/port/channel-streaming-repository.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/store/stream/common.ts
  nginx/nginx.rtmp.conf
Due: npm run lint:fs, prettier --write, npm run lint:js

git flow: + labeller
  .github/labeler-config.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/labeller.yml
Due: npm run lint:fs

frontend-93: + channel action middleware
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/primary-adapters/rest/middleware/channel-action-middleware.ts
  backend/core/src/primary-adapters/rest/middleware/middleware-container-module.ts
  backend/core/src/shared/types/container-type-keys.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + migration fixes, made category poster images unnullable
  backend/core/prisma/migrations/20220828030551_update_video_model/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/category/application/dtos/cast-to-category-response-dto.ts
  backend/core/src/core/category/application/dtos/cast-to-search-response-dto.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  shared/src/common/types/category/category-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + updated DTOs
  backend/core/src/shared/types/stream/stream-info-before-trimming.type.ts
  backend/core/src/shared/types/stream/stream.ts
  shared/src/common/enums/stream/stream.ts
  shared/src/common/types/reaction/create-reaction-response-dto.type.ts
  shared/src/common/types/stream/stream-update-request-dto.type.ts
  shared/src/common/types/stream/video-stream-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + base streaming service and repository functionality done
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/channel-streaming/application/dtos/cast-to-video-stream-response-dto.ts
  backend/core/src/core/channel-streaming/port/channel-streaming-repository.ts
  backend/core/src/core/tag/application/dtos/cast-to-search-response-dto.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: + send/get chat message
  backend/core/src/core/chat/application/chat-service.ts
  backend/core/src/core/chat/port/chat-repository.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/core/src/secondary-adapters/postgres/chat/chat-repository-adapter.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/trim-chat-message.ts
  backend/core/src/shared/types/chat/chat-message-before-creating.ts
  backend/core/src/shared/types/chat/chat-message-before-trimming.ts
  backend/core/src/shared/types/chat/chat.ts
  shared/src/common/enums/amqp/amqp-channel.enum.ts
  shared/src/common/types/chat/chat-info-response-dto.type.ts
  shared/src/common/types/chat/chat-message-request-dto.type.ts
  shared/src/common/types/chat/chat-message-response-dto.type.ts
  shared/src/common/types/chat/chat.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + needed channel actions
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/channel-streaming/application/dtos/cast-to-own-channel-response-dto.ts
  backend/core/src/core/channel-streaming/application/dtos/cast-to-video-stream-response-dto.ts
  backend/core/src/core/channel-streaming/application/dtos/dtos.ts
  backend/core/src/core/channel-streaming/port/channel-streaming-repository.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/primary-adapters/rest/middleware/channel-action-middleware.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/types/channel/channel.ts
  frontend/src/store/channel/reducer.ts
  shared/src/common/enums/stream/stream.ts
  shared/src/common/types/channel/channel.ts
  shared/src/common/types/channel/own-channel/own-channel-response-dto.type.ts
  shared/src/common/types/channel/own-channel/own-channel.ts
  shared/src/common/types/stream/live-end-response-dto.type.ts
  shared/src/common/types/stream/live-start-response-dto.type.ts
  shared/src/common/types/stream/reset-streaming-key-request-dto.type.ts
  shared/src/common/types/stream/stream.ts
  shared/src/common/types/stream/streaming-key-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + fixed id in api paths and channel middleware
  backend/core/src/primary-adapters/rest/middleware/channel-action-middleware.ts
  backend/core/src/shared/types/channel/channel.ts
  backend/core/src/shared/types/stream/stream.ts
  frontend/src/common/types/channel/channel.ts
  frontend/src/common/types/stream/stream.ts
  frontend/src/store/stream/actions.ts
  shared/src/common/enums/api/category-api-path.enum.ts
  shared/src/common/enums/api/channel-crud-api-path.enum.ts
  shared/src/common/enums/api/channel-streaming-api-path.enum.ts
  shared/src/common/enums/api/notification-api-path.enum.ts
  shared/src/common/enums/api/profile-api-path.enum.ts
  shared/src/common/enums/api/tag-api-path.enum.ts
  shared/src/common/enums/api/video-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-93: * fixed imports
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/shared/enums/api/api.ts
  backend/core/src/shared/enums/enums.ts
  backend/core/src/shared/types/types.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: * socket events
  backend/push/src/config/amqp-connection.ts
  backend/push/src/services/socket/socket-service.ts
  backend/push/src/shared/enums/enums.ts
  backend/push/src/shared/enums/socket/socket.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/socket/socket-events.ts
  shared/src/common/enums/socket/socket.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-106: + get/send chat messages from client
  frontend/src/common/config/socket.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/socket/socket.ts
  frontend/src/common/types/chat/chat.ts
  frontend/src/components/common/send-message/send-message.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/pages/restore-password-confirm-page/select-new-password-form/select-new-password-form.tsx
  frontend/src/services/chat-api/chat-api.service.ts
  frontend/src/store/chat/actions.ts
  frontend/src/store/chat/common.ts
  frontend/src/store/chat/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + redux actions
  frontend/src/common/types/types.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/common.ts
  frontend/src/store/stream/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + additional actions
  frontend/src/store/channel/actions.ts
  frontend/src/store/stream/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-181: * change white color to always white color
  frontend/src/components/common/toast-notification/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frotnend-42: + comment for not live video
  frontend/package.json
  frontend/src/components/common/common.ts
  frontend/src/components/common/text-area/styles.module.scss
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/video/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-174: * now getting categories from api - categories list mock
  frontend/src/components/common/filters-block/filter-list.mock.ts
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/services/category-api/video-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/categories/actions.ts
  frontend/src/store/categories/common.ts
  frontend/src/store/categories/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + redux fixes
  frontend/src/store/actions.ts
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/reducer.ts
  shared/src/common/enums/api/channel-streaming-api-path.enum.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/channel/channel.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: + api fixes
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  frontend/src/services/channel-crud-api/channel-crud-api.service.ts
  frontend/src/services/channel-streaming-api/channel-streaming-api.service.ts
  frontend/src/services/services.ts
  frontend/src/services/stream/stream-api.service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

deployment: add migrations to staging fs
  .docker/healthcheck.sh
  .github/workflows/deploy-dev.yml
Due: npm run lint:fs

deployment: * enable deployment notifications
  .github/workflows/deploy-dev.yml
Due: npm run lint:fs

frontend-184: * video card styles
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/helpers/date/get-how-long-ago-string/get-how-long-ago-string.helper.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

Update frontend/src/helpers/date/get-how-long-ago-string/get-how-long-ago-string.helper.ts
  frontend/src/helpers/date/get-how-long-ago-string/get-how-long-ago-string.helper.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-180 fixed color for video duration badge
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-42: * fix layout a bit
  frontend/src/assets/img/thumb-down.svg
  frontend/src/assets/img/thumb-up.svg
  frontend/src/components/common/text-area/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-comment/video-comment.module.scss
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-124: + implement ability to filter videos by categories on the main page
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/services/category-api/category-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/categories/actions.ts
  frontend/src/store/categories/common.ts
  frontend/src/store/categories/reducer.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-186: * fixed sizes video cards
  frontend/src/components/common/videos-block/videos-block.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-93: + finalized stream settings container and form
  frontend/src/common/constants/constants.ts
  frontend/src/common/constants/stream/stream.ts
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/studio/stream/common/stream-settings-form-values.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
  shared/src/common/types/stream/stream-update-request-dto.type.ts
  shared/src/common/types/stream/video-stream-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * fix like position on small screen
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-174: + some seed data for tags and categories, * formatted the categories depending on how they are stored in the db
  backend/core/prisma/seed.ts
  frontend/src/store/categories/actions.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-42: + sort comment by creation date
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * fix comment at no live videos
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * improve styles
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-174: * fixed category seeds so now they don`t randomly connected with videos
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-42: * fix video player style
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontedn-42: * fix long title display
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

backend-42: * fix reaction
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-174: + clear filters button for categories on the main page
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/video-skeleton/video-skeleton.config.ts
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/store/categories/actions.ts
  frontend/src/store/categories/common.ts
  frontend/src/store/categories/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
