Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: * fixed package versions
  frontend/package.json
Due: npm run lint:fs, prettier --write

frontend-93: + basic info form
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/text-area/styles.module.scss
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-form/custom-select-styles.ts
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-form/stream-edit-form.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-form/styles.module.scss
  frontend/src/pages/studio/common/stream-edit-modal/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-183: + implement ability to update channel banner * changed Description field from input to text area
  frontend/src/components/common/text-area/styles.module.scss
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/pages/studio/channel/channel.tsx
  frontend/src/pages/studio/channel/common/channel-settings-form.tsx
  frontend/src/pages/studio/channel/common/styles.module.scss
  frontend/src/services/channel-crud-api/channel-crud-api.service.ts
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-206: * send message
  backend/push/src/helpers/debounce.ts
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/helpers/common/common.ts
  frontend/src/helpers/common/debounce.helper.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * video chat
  frontend/src/components/video-chat/components/components.ts
  frontend/src/components/video-chat/components/participant/participant.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/store/chat/actions.ts
  frontend/src/store/chat/common.ts
  frontend/src/store/chat/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: + add tabs and image upload form
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/upload-image/upload-image.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-form/initial-form-values.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/custom-select-styles.ts
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-appearance-form/stream-appearance-form.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-appearance-form/styles.module.scss
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-appearance-form/upload-stream-preview/styles.module.scss
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-appearance-form/upload-stream-preview/upload-stream-preview.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-basic-info-form/initial-form-values.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-basic-info-form/stream-basic-info-form-values.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-edit-modal/stream-edit-modal.tsx
  frontend/src/pages/studio/common/stream-edit-modal/styles.module.scss
  frontend/src/pages/studio/common/stream-edit-modal/tabs/tab-header/styles.module.scss
  frontend/src/pages/studio/common/stream-edit-modal/tabs/tab-header/tab-header.tsx
  frontend/src/pages/studio/common/stream-edit-modal/tabs/tab-info.ts
  frontend/src/pages/studio/common/stream-edit-modal/tabs/tab.enum.ts
  frontend/src/pages/studio/common/stream-edit-modal/tabs/tab/styles.module.scss
  frontend/src/pages/studio/common/stream-edit-modal/tabs/tab/tab.tsx
  frontend/src/pages/studio/common/stream-edit-modal/tabs/tabs.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend-217: * fixed sizes elements on mobile sidebar
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-210: + allow sidebar to be hidden by default
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-205: + route for get popular videos by category
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/video/create-popular-response.ts
  backend/core/src/shared/types/video/video.ts
  package-lock.json
  shared/src/common/types/video/popular-video-response-dto.type.ts
  shared/src/common/types/video/popular-videos-request-dto.type.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend-219: * centered button clear text
  frontend/src/components/common/header/header.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

fix/frontend-221: * corrected icons size
  frontend/src/components/common/header/header.tsx
  frontend/src/components/notification-dropdown/notification-dropdown.tsx
  frontend/src/components/notification-dropdown/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

task/backend203 + add like dislike video comments
  backend/core/prisma/migrations/20220830123218_video_comments/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/helpers/video/create-add-reaction-response.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
  frontend/src/common/types/video/video.ts
  frontend/src/components/video-chat/comments.mock.ts
  frontend/src/helpers/video/get-react-button-color.helper.ts
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  shared/src/common/types/comment/index.ts
  shared/src/common/types/video/base-video-comment-response-dto.type.ts
  shared/src/common/types/video/comment-reaction.ts
  shared/src/common/types/video/create-comment-reaction-request-dto.type.ts
  shared/src/common/types/video/create-comment-reaction-response-dto.type.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-206: + new down icon
  frontend/src/assets/img/arrow-down-2.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * fix pop-out chat
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/helpers/common/common.ts
  frontend/src/helpers/common/debounce.helper.ts
  frontend/src/pages/live-chat/live-chat.tsx
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-183: + matcher for some common code in store reducer + pending case for update channel settings actions
  frontend/src/store/channel/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/backend-203 + add like dislike video comments
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-111: + video preferences for users to seeds and migrations
  backend/core/prisma/migrations/20220901151130_add_user_video_preferences/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-210: + add subs display & * fix channel info layout
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/types/video/video-expanded-dto-before-trimming.ts
  frontend/src/components/common/user-avatar-or-initials/styles.module.scss
  frontend/src/components/common/user-avatar-or-initials/user-avatar-or-initials.tsx
  frontend/src/pages/video/channel-info-row/channel-info-row.tsx
  frontend/src/pages/video/channel-info-row/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/store/video-page/reducer.ts
  shared/src/common/types/video/video-expanded-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-111: + bind user preferences route + UserApiPath enum for users controller
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  package-lock.json
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/user-api-path.enum.ts
  shared/src/common/types/user/user-bind-categories-dto.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-205: implement browse page logic
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/components/app/app.tsx
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-107: * fix pr remarks
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/shared/constants/constants.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-111: + get user preferences route
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  backend/core/src/shared/types/user/user-get-preferences-response-dto.ts
  backend/core/src/shared/types/user/user.ts
  shared/src/common/enums/api/user-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-210: * separate video header into an improved component
  frontend/src/components/common/user-avatar-or-initials/styles.module.scss
  frontend/src/components/common/user-avatar-or-initials/user-avatar-or-initials.tsx
  frontend/src/pages/video/channel-info-row/channel-info-row.tsx
  frontend/src/pages/video/channel-info-row/styles.module.scss
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-header/styles.module.scss
  frontend/src/pages/video/video-header/video-header.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend-218: * bug fixed open sidebar
  frontend/src/common/enums/app/app-window-sizes.enum.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/sidebar-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

fix/frontend-218: * was corrected remarks
  frontend/src/components/common/sidebar/sidebar-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: + hide chat
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

fix/frontend203 * add like dislike video comments
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-206: * video response model
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  shared/src/common/types/video/video-expanded-response-dto.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * fix chat status update
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/chat/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend: * fix loading jpeg
  frontend/src/components/common/upload-image/upload-image.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

common-93: * fixed sockets and rtmp route
  backend/core/src/core/channel-streaming/port/channel-streaming-repository.ts
  backend/push/src/services/socket/socket-service.ts
  frontend/src/common/constants/stream/stream.ts
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/component/select-options.type.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/select/index.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/pages/studio/stream/common/stream-settings-form-values.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
  nginx/nginx.local.conf
  nginx/nginx.rtmp.conf
  readme.md
  shared/src/common/enums/socket/socket-events.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: * fix disabling chat
  backend/core/src/configuration/swagger.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/core/src/shared/helpers/trim-video-to-chat-info.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/store/chat/reducer.ts
  shared/src/common/types/chat/chat-info-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-206: + participants view
  frontend/src/components/video-chat/components/participant/participant.tsx
  frontend/src/components/video-chat/components/participant/styles.module.scss
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-206: * nginx config
  nginx/nginx.conf
  nginx/nginx.local.conf
Due: npm run lint:fs

frontendd-210: * add links block and change layout
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frotnend-205: * fix with categories button wraps
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-210: * fix logic damaged after merge
  frontend/src/assets/css/helpers/break-long-words.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontned-205: + sckeltons
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/history-page/common/skeleton/skeleton-config.ts
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/store/videos/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frotnend-205: * small improvment
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/shared/constants/constants.ts
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-206: * chat member styles
  frontend/src/components/video-chat/components/participant/styles.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.module.scss
  frontend/src/components/video-chat/components/video-comment/video-comment.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
