Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: * updated package-lock and readme
  .docker/docker-compose.yml
  package-lock.json
  readme.md
Due: npm run lint:fs, prettier --write

fixed api path to replies
  frontend/src/services/video-api/video-api.service.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fixed problems with scroll to top
  frontend/src/components/app/scroll-to-top.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-93: * fixed middleware error
  backend/core/src/primary-adapters/rest/middleware/create-video-history-record.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-205: * fix bug from task
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/following-page/tabs/live-videos/live-videos-tab.tsx
  frontend/src/pages/following-page/tabs/offline-videos/offline-videos-tab.tsx
  frontend/src/pages/following-page/tabs/overview/overview-tab.tsx
  frontend/src/store/videos/reducer.ts
  shared/src/common/types/video/popular-video-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-149: * bug from task fix
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/core/common/port/image-store.ts
  backend/core/src/core/profile/aplication/profile-service.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/secondary-adapters/cloudinary/cloud/clodinary-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-205: * fix pr remarks
  frontend/src/pages/following-page/tabs/offline-videos/offline-videos-tab.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-205: * fix pr remarks
  frontend/src/pages/following-page/tabs/live-videos/live-videos-tab.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-205: * fix pr remarks
  frontend/src/pages/following-page/tabs/overview/overview-tab.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-93: + express server
  backend/video-transcoding-server/package.json
  backend/video-transcoding-server/src/config/amqp-connection.ts
  backend/video-transcoding-server/src/index.ts
Due: npm run lint:fs, prettier --write

shared-93: * file caching for live streams
  nginx/nginx.local.conf
Due: npm run lint:fs

backend-93: * dockerfile and dependencies
  .docker/video-transcoding-server.Dockerfile
  package-lock.json
Due: npm run lint:fs, prettier --write

shared-93: + amqp query fix for sockets and transcoding
  .docker/docker-compose.local.yml
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/push/src/config/amqp-connection.ts
  backend/push/src/services/socket/socket-service.ts
  shared/src/common/enums/amqp/amqp-channel.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-93: + logic for preview erasing after starting actual stream
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/video-transcoding-server/src/config/amqp-connection.ts
  backend/video-transcoding-server/src/core/ffmpeg-process.ts
  backend/video-transcoding-server/src/services/fs/fs-service.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: + channel card
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/common.ts
  frontend/src/components/search/components/channel-card/channel-card.tsx
  frontend/src/components/search/components/channel-card/styles.module.scss
  frontend/src/components/search/components/components.tsx
  frontend/src/components/search/components/filter-sidebar/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/search.tsx
  frontend/src/components/search/styles.module.scss
  shared/src/common/types/components/channel-card/channel-card.ts
  shared/src/common/types/components/channel-card/channel-card.type.ts
  shared/src/common/types/components/components.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-238: * fix sign-in-modal
  frontend/src/components/common/sign-in-modal/sign-in-modal.tsx
  frontend/src/components/common/sign-in-modal/styles.module.scss
  frontend/src/pages/channel-page/components/channel-header/styles.module.scss
  frontend/src/pages/video/video-header/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

common-238: * channel search
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/shared/enums/channel/channel-filters-data.config.ts
  backend/core/src/shared/enums/enums.ts
  backend/core/src/shared/enums/video/video-filters-data.config.ts
  backend/core/src/shared/types/channel/channel-search-query.type.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-238: * clear results on next page
  frontend/src/components/search/components/filter-sidebar/styles.module.scss
  frontend/src/components/search/search.tsx
  frontend/src/components/search/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-93: + poster upload fix
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/shared/types/stream/stream.ts
  backend/push/src/services/socket/socket-service.ts
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/services/channel-streaming-api/channel-streaming-api.service.ts
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/common.ts
  frontend/src/store/stream/reducer.ts
  shared/src/common/types/stream/stream.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

shared-93: + stream poster upload response dto
  shared/src/common/types/stream/stream-poster-upload-response-dto.type.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-245: + close welcome msg btn
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-245: * fix chat styles
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-245: * fix restore chat btn styles
  frontend/src/components/video-chat/video-chat.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-245: + modal no auth msg
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-245: * video-card styles
  frontend/src/components/common/video-card-main/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

shared-249: * variable staging fix
  .github/workflows/deploy-dev.yml
Due: npm run lint:fs

backend-250: * public videos
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

common-251: * added variable to dockerfile
  .docker/frontend.Dockerfile
  frontend/src/common/enums/app/env.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

task/frontend-223: added recommended section
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/videos/common.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-250: * only public videos
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-253: * nginx config fix
  nginx/nginx.conf
Due: npm run lint:fs

backend-254: * fix param ids
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
  backend/core/src/primary-adapters/rest/tag/tag-controller.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  shared/src/common/enums/api/chat-api-path.enum.ts
  shared/src/common/enums/api/history-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

pr remark fix
  frontend/src/pages/browse-page/browse-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

backend-254: * more param id fixes
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

minor fix on browse page
  frontend/src/pages/browse-page/browse-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-157: * fix search query
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  frontend/src/components/common/header/header-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

history page small fix
  frontend/src/pages/history-page/history-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-255: * fixed routes for editing channel
  frontend/src/services/channel-crud-api/channel-crud-api.service.ts
  frontend/src/store/profile/reducer.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-256: * fixed inputs
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  frontend/src/common/constants/stream/stream.ts
  frontend/src/components/search/search.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-93: * fixed preview erasing logic + added handler in push server to track aqmpChannel context loss
  backend/push/src/services/amqp/amqp-service.ts
  backend/push/src/services/socket/socket-service.ts
  backend/video-transcoding-server/package.json
  backend/video-transcoding-server/src/core/ffmpeg-process.ts
  backend/video-transcoding-server/src/core/index.ts
  backend/video-transcoding-server/src/services/fs/fs-service.ts
  package-lock.json
  shared/src/common/enums/amqp/amqp-channel.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

Path conditions:
  npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,scss}
  npm run lint:js: (any of: {shared,backend/core,backend/push}/**/*.ts) or (any of: frontend/**/*.{ts,tsx})
  npm run lint:css: any of: frontend/**/*.scss
