Repository BinaryStudioAcademy/bsa-2022-streamlet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

.lintstagedrc.yml:

'*': npm run lint:fs
'*.{ts,tsx,json,scss}': prettier --write
'{shared,backend/core,backend/push}/**/*.ts': npm run lint:js
'frontend/**/*.{ts,tsx}': npm run lint:js
'frontend/**/*.scss': npm run lint:css

frontend: * fix subscribe button jumps
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-269: * fix chat min-height
  frontend/src/components/video-chat/video-chat.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend: * fix bug with wrong start position of video
  .docker/debug/docker-compose.debug.yml
  backend/video-transcoding-server/src/factories/ffmpeg-process/ffmpeg-process-factory.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-player/video-player-controls/control-button/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/progress-bar/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/modal-item.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/quality-selector/quality-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/speed-selector/speed-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player-controls/video-time/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

docker: * modify dockefile a bit
  .docker/debug/backend-debug.Dockerfile
Due: npm run lint:fs

frontend-223: + move rec video card into a separate component
  frontend/src/pages/video/links-block/rec-video-card/components/components.tsx
  frontend/src/pages/video/links-block/rec-video-card/components/meta-data-video/meta-data-video.tsx
  frontend/src/pages/video/links-block/rec-video-card/components/meta-data-wait/meta-data-wait.tsx
  frontend/src/pages/video/links-block/rec-video-card/components/scheduled-video-badge/scheduled-video-badge.tsx
  frontend/src/pages/video/links-block/rec-video-card/config.ts
  frontend/src/pages/video/links-block/rec-video-card/rec-video-card.tsx
  frontend/src/pages/video/links-block/rec-video-card/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

vts: refactoring and fix memory leak
  backend/video-transcoding-server/src/app.ts
  backend/video-transcoding-server/src/config/amqp-connection.ts
  backend/video-transcoding-server/src/config/config.ts
  backend/video-transcoding-server/src/core/ffmpeg-process.ts
  backend/video-transcoding-server/src/core/index.ts
  backend/video-transcoding-server/src/core/init-store.ts
  backend/video-transcoding-server/src/factories/ffmpeg-process/ffmpeg-process-factory.ts
  backend/video-transcoding-server/src/index.ts
  backend/video-transcoding-server/src/services/amqp/amqp-service.ts
  backend/video-transcoding-server/src/services/fs/fs-service.ts
  backend/video-transcoding-server/src/services/index.ts
  backend/video-transcoding-server/src/services/stream/streaming-service.ts
  frontend/.env.example
  nginx/nginx.rtmp.conf
  package-lock.json
  shared/src/common/enums/amqp/amqp-channel.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

fix deployment for testing vts
  .github/workflows/deploy-dev.yml
Due: npm run lint:fs

frontned-242: * fix pr remarks
  frontend/src/components/common/channel-banner-editor/channel-baner-editor.tsx
  frontend/src/components/common/channel-banner-editor/styles.module.scss
  frontend/src/helpers/channel-banner-editor-size/get-channel-banner-editor-size.ts
  frontend/src/pages/studio/channel/channel.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-223: * fix scroll to top component and add small page improvements
  frontend/src/components/app/app.tsx
  frontend/src/components/app/scroll-to-top.tsx
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

add sample nginx config for strem static files
  nginx/nginx.conf
Due: npm run lint:fs

frontend-258: + send comment on ctrl+enter
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-258: * fix recommend on comments overlay
  frontend/src/pages/video/video-page.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-258: * fix comment layout
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/links-block/rec-video-card/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-173: * fix pr remark & tag scroll edge
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/subscribe-button/styles.module.scss
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-258: + icons for comment menu
  frontend/src/assets/img/edit.svg
  frontend/src/assets/img/report.svg
  frontend/src/assets/img/trash.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-258: + comment menu layout
  frontend/src/common/enums/component/comment-menu-options.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/enums.ts
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/config.ts
  frontend/src/pages/video/common/comment-block/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontent-258: * comment type
  backend/core/src/shared/helpers/trim-video.ts
  frontend/src/common/types/comment/comment.ts
  frontend/src/common/types/types.ts
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  shared/src/common/types/comment/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-216: + add functionality to update views
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  frontend/src/common/types/video/video.ts
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/video/add-video-view-dto.ts
  shared/src/common/types/video/video.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-258: + additional fields to video comment
  backend/core/prisma/migrations/20220911211928_add_edited_video_comment/migration.sql
  backend/core/prisma/migrations/20220912020048_add_deleted_video_comment/migration.sql
  backend/core/prisma/schema.prisma
Due: npm run lint:fs

frontend-258: + comment controller
  backend/core/src/core/comment/application/comment-service.ts
  backend/core/src/core/comment/comment-container-module.ts
  backend/core/src/core/comment/port/comment-repository.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/core/src/primary-adapters/rest/comment/comment-controller.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/comment/comment-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/api/api.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/helpers/calculate-reactions.helper.ts
  backend/core/src/shared/helpers/trim-comment.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
  backend/core/src/shared/types/comment/comment-expanded-dto-before-trimming.ts
  backend/core/src/shared/types/comment/comment.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/types.ts
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/comment-api-path.enum.ts
  shared/src/common/types/comment/index.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-283: * fix emoji styles
  frontend/src/assets/css/components/default-emoji.scss
  frontend/src/components/common/emoji/config.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

tests: add integration test example
  backend/core/package.json
  backend/core/tests/helpers/helpers.ts
  backend/core/tests/integration/core/tag/data/tags.json
  backend/core/tests/integration/core/tag/tag-repository-adapter.ts
  backend/core/tests/integration/core/tag/tag.spec.ts
  backend/core/tests/integration/core/video/video-repository-adapter.ts
  package-lock.json
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-283: * emoji config
  frontend/src/assets/css/components/default-emoji.scss
  frontend/src/components/common/emoji/config.ts
  frontend/src/components/common/emoji/emoji.tsx
  frontend/src/components/common/text-with-emoji/text-with-emoji.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-283: * emoji-block width
  frontend/src/assets/css/components/default-emoji.scss
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-283: * update library
  frontend/package.json
  package-lock.json
Due: npm run lint:fs, prettier --write

frontend-283: - duplicate notifier
  frontend/src/index.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-283: * emoji-block width video-page
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-270: * studio chat container
  frontend/src/pages/studio/stream/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:css

frontend-270: + chatSettings
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/config.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-270: * apply chatSetting
  frontend/src/pages/live-chat/live-chat.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/video/video-page-container.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-270: - comments mock
  frontend/src/components/video-chat/comments.mock.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-282: * fix sckeleton size on history page
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/styles.module.scss
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-112: + controller for video blocks
  backend/core/prisma/seed-data/videos.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/components/common/videos-block/videos-block.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  shared/src/common/enums/api/video-api-path.enum.ts
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

frontend-282: + skeleton on browse page
  frontend/src/pages/browse-page/browse-page.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontned-282: + skeleton to following page
  frontend/src/pages/following-page/tabs/overview/live-block/live-block.tsx
  frontend/src/pages/following-page/tabs/overview/offline-block/offline-block.tsx
  frontend/src/pages/following-page/tabs/overview/videos-list/videos-list.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-261: * fix remarks about username validation
  package-lock.json
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-261: * fix username latin charset validation
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

docker: + add fast forward to player, and fix bugs
  .docker/debug/backend-debug.Dockerfile
  .docker/debug/frontend-debug.Dockerfile
  .env.example/api-debug.env.example
  .env.example/client-debug.env.example
  frontend/src/assets/img/fast-forward.svg
  frontend/src/components/common/video-player/video-player-controls/progress-bar/progress-bar.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/sync-btn/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/sync-btn/sync-btn.tsx
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player.tsx
  readme.md
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css

backend-284: + migrations and seeds
  backend/core/prisma/migrations/20220912133045_add_category_video_tag_video_many_to_many/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed.ts
Due: npm run lint:fs, prettier --write, npm run lint:js

frontend-282: + horizontal scroll on following page
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
  frontend/src/pages/following-page/tabs/tab-header/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/tab-header.tsx
Due: npm run lint:fs, prettier --write, npm run lint:js, npm run lint:css
